$title-font: Helvetica;
$desc-font: Helvetica;
$bg-color: #f0ead6;
$card-color: #cababa;
$font-color: #292929;
$outline-color: #777777;
$highlight-color: #9A879D;
$TOTALS: 100;

html {
    body {
        background-color: $bg-color;
    }
}

h1 {
    text-align: center;
    color: $font-color;
    font: 48px $title-font;
}

h2 { 
    text-align: center;
    color: $font-color;
    font: 24px $title-font;
}

p {
    text-align: left;
    color: $font-color;
    font: 18px $desc-font;

    a {
       color: $highlight-color;
        
       &:hover{
        font-weight: 900;
       }
    }
}

@mixin animate($animation,$duration,$method,$times,$delay) {
    animation: $animation $duration $method $times $delay;
    -o-animation: $animation $duration $method $times $delay;
    -moz-animation: $animation $duration $method $times $delay;
    -webkit-animation: $animation $duration $method $times $delay;
}

@mixin animate_n($animations...) {
    $params: '';
    @for $i from 1 through length($animations) {
        @if $i == 1 {
            $params: nth($animations, $i) ;
        } @else {
            $params: $params + ',' + nth($animations, $i);
        }
    }
    animation: unquote($params);
    -o-animation: unquote($params);
    -moz-animation: unquote($params);
    -webkit-animation: unquote($params);
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    };
    @-o-keyframes #{$name}{
        @content;
    };
    @-moz-keyframes #{$name}{
        @content;
    };
    @-webkit-keyframes #{$name}{
        @content;
    };
}

@include keyframes(float){
    0%{top: 100vh;}
    100%{top: 0vh;}
}

@include keyframes(wiggle){
    0%{transform: translateX(0px);}
    25%{transform: translateX(10px);}
    50%{transform: translateX(0px);}
    75%{transform: translatex(-10px);}
    // 100%{transform: translateX(0px);}
}


#background{
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url(../public/pirateTower_laguna.jpg);
    height: 100vh;
    width:  100vw;
    overflow: hidden;
    z-index: 1;


    .particle {
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        z-index: 1;
        @for $i from 1 through $TOTALS {
            &:nth-child(#{$i}) {  
                $speed:  random(15);
                $float_animation: float $speed+15+s linear infinite random(60)+s;
                $wiggle_animation: wiggle ($speed/15)*5+10+s ease-in infinite 0ms;
                // @include animate(float, random(15) + 5 + s, linear, infinite, random(60)+ s);
                // @include animate(wiggle, random(2000) + 1000 + ms, linear, infinite, 0s);
                @include animate_n($float_animation, $wiggle_animation)
            }  
        }
    }
   
}

#overlay {
    z-index: 2;
    position: relative;
    width: 100vw;
    overflow: hidden;
}

#intro {
    position: relative;
    display: flex;
    background-color: transparent;
    top: 5vh;
    left: 5vw;
    height: 90vh;
    width: 90vw;
    
    h1 {
        text-align: center;
        color: $font-color;
        font: 48px $title-font;
    }
}

#card {
    position: relative;
    z-index: 2;
    height: 100px;
    width: 80%;
    margin: 10%; 
    background-color: $card-color;
}