html {
  scroll-behavior: smooth;
}
html body {
  background-color: #1c1b1f;
  overflow-x: hidden;
  overflow-y: overlay;
  letter-spacing: 4px;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(192, 80, 207, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(192, 80, 207, 0.5);
}

h1 {
  text-align: center;
  color: #756277;
  font: 48px Helvetica;
  margin: 24px;
}

h2 {
  text-align: center;
  color: #756277;
  font: 30px Helvetica;
  margin: 24px;
  margin-bottom: 0px;
  line-height: 1.5;
}
h2 a {
  font-size: 24px;
}

h3 {
  text-align: center;
  font: 20px Helvetica;
  color: #756277;
  margin: 16px;
  line-height: 1;
}

p {
  text-align: left;
  color: #756277;
  font: 16px Helvetica;
  margin: 16px;
}
p a {
  float: none;
}

a {
  font: 18px Helvetica;
  transition: color 500ms, border 500ms;
  color: #141316;
  border: 2px solid transparent;
  padding: 4px;
  border-radius: 5px;
  float: left;
  text-decoration: none;
}
a:hover {
  color: #c050cf;
}

input, textarea {
  letter-spacing: 2px;
  padding: 8px;
  font: 16px Helvetica;
  color: #756277;
  background-color: #1c1b1f;
  border: 2px solid #141316;
  resize: vertical;
  transition: border 500ms;
  border: 2px solid transparent;
  outline: none;
  border-radius: 5px;
}
input:focus, textarea:focus {
  border: 2px solid #c050cf;
}

::placeholder {
  color: #3f3541;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #3f3541;
}

::-ms-input-placeholder {
  color: #3f3541;
}

button {
  background-color: #1c1b1f;
  color: #b492af;
  font: 16px Helvetica;
  border: 2px solid transparent;
  padding: 8px;
  transition: border 500ms, color 500ms;
  letter-spacing: 4px;
  border-radius: 5px;
  text-align: center;
}
button:hover {
  color: #c050cf;
  border: 2px solid #c050cf;
}
button:active {
  background-color: #b492af;
}

@keyframes float {
  0% {
    top: 100vh;
  }
  100% {
    top: 0vh;
  }
}
@-o-keyframes float {
  0% {
    top: 100vh;
  }
  100% {
    top: 0vh;
  }
}
@-moz-keyframes float {
  0% {
    top: 100vh;
  }
  100% {
    top: 0vh;
  }
}
@-webkit-keyframes float {
  0% {
    top: 100vh;
  }
  100% {
    top: 0vh;
  }
}
@keyframes wiggle {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translatex(-50px);
  }
}
@-o-keyframes wiggle {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translatex(-50px);
  }
}
@-moz-keyframes wiggle {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translatex(-50px);
  }
}
@-webkit-keyframes wiggle {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translatex(-50px);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#background {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #F7EBEC;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.particle {
  margin: auto;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #4b3852;
  opacity: 0.3;
  position: absolute;
}
.particle:nth-child(1) {
  animation: float 28s linear infinite 54s,wiggle 20.2s ease-in-out infinite 0ms;
  -o-animation: float 28s linear infinite 54s,wiggle 20.2s ease-in-out infinite 0ms;
  -moz-animation: float 28s linear infinite 54s,wiggle 20.2s ease-in-out infinite 0ms;
  -webkit-animation: float 28s linear infinite 54s,wiggle 20.2s ease-in-out infinite 0ms;
}
.particle:nth-child(2) {
  animation: float 29s linear infinite 41s,wiggle 20.6s ease-in-out infinite 0ms;
  -o-animation: float 29s linear infinite 41s,wiggle 20.6s ease-in-out infinite 0ms;
  -moz-animation: float 29s linear infinite 41s,wiggle 20.6s ease-in-out infinite 0ms;
  -webkit-animation: float 29s linear infinite 41s,wiggle 20.6s ease-in-out infinite 0ms;
}
.particle:nth-child(3) {
  animation: float 19s linear infinite 47s,wiggle 16.6s ease-in-out infinite 0ms;
  -o-animation: float 19s linear infinite 47s,wiggle 16.6s ease-in-out infinite 0ms;
  -moz-animation: float 19s linear infinite 47s,wiggle 16.6s ease-in-out infinite 0ms;
  -webkit-animation: float 19s linear infinite 47s,wiggle 16.6s ease-in-out infinite 0ms;
}
.particle:nth-child(4) {
  animation: float 27s linear infinite 53s,wiggle 19.8s ease-in-out infinite 0ms;
  -o-animation: float 27s linear infinite 53s,wiggle 19.8s ease-in-out infinite 0ms;
  -moz-animation: float 27s linear infinite 53s,wiggle 19.8s ease-in-out infinite 0ms;
  -webkit-animation: float 27s linear infinite 53s,wiggle 19.8s ease-in-out infinite 0ms;
}
.particle:nth-child(5) {
  animation: float 30s linear infinite 29s,wiggle 21s ease-in-out infinite 0ms;
  -o-animation: float 30s linear infinite 29s,wiggle 21s ease-in-out infinite 0ms;
  -moz-animation: float 30s linear infinite 29s,wiggle 21s ease-in-out infinite 0ms;
  -webkit-animation: float 30s linear infinite 29s,wiggle 21s ease-in-out infinite 0ms;
}
.particle:nth-child(6) {
  animation: float 27s linear infinite 56s,wiggle 19.8s ease-in-out infinite 0ms;
  -o-animation: float 27s linear infinite 56s,wiggle 19.8s ease-in-out infinite 0ms;
  -moz-animation: float 27s linear infinite 56s,wiggle 19.8s ease-in-out infinite 0ms;
  -webkit-animation: float 27s linear infinite 56s,wiggle 19.8s ease-in-out infinite 0ms;
}
.particle:nth-child(7) {
  animation: float 28s linear infinite 22s,wiggle 20.2s ease-in-out infinite 0ms;
  -o-animation: float 28s linear infinite 22s,wiggle 20.2s ease-in-out infinite 0ms;
  -moz-animation: float 28s linear infinite 22s,wiggle 20.2s ease-in-out infinite 0ms;
  -webkit-animation: float 28s linear infinite 22s,wiggle 20.2s ease-in-out infinite 0ms;
}
.particle:nth-child(8) {
  animation: float 19s linear infinite 20s,wiggle 16.6s ease-in-out infinite 0ms;
  -o-animation: float 19s linear infinite 20s,wiggle 16.6s ease-in-out infinite 0ms;
  -moz-animation: float 19s linear infinite 20s,wiggle 16.6s ease-in-out infinite 0ms;
  -webkit-animation: float 19s linear infinite 20s,wiggle 16.6s ease-in-out infinite 0ms;
}
.particle:nth-child(9) {
  animation: float 29s linear infinite 2s,wiggle 20.6s ease-in-out infinite 0ms;
  -o-animation: float 29s linear infinite 2s,wiggle 20.6s ease-in-out infinite 0ms;
  -moz-animation: float 29s linear infinite 2s,wiggle 20.6s ease-in-out infinite 0ms;
  -webkit-animation: float 29s linear infinite 2s,wiggle 20.6s ease-in-out infinite 0ms;
}
.particle:nth-child(10) {
  animation: float 29s linear infinite 29s,wiggle 20.6s ease-in-out infinite 0ms;
  -o-animation: float 29s linear infinite 29s,wiggle 20.6s ease-in-out infinite 0ms;
  -moz-animation: float 29s linear infinite 29s,wiggle 20.6s ease-in-out infinite 0ms;
  -webkit-animation: float 29s linear infinite 29s,wiggle 20.6s ease-in-out infinite 0ms;
}
.particle:nth-child(11) {
  animation: float 29s linear infinite 52s,wiggle 20.6s ease-in-out infinite 0ms;
  -o-animation: float 29s linear infinite 52s,wiggle 20.6s ease-in-out infinite 0ms;
  -moz-animation: float 29s linear infinite 52s,wiggle 20.6s ease-in-out infinite 0ms;
  -webkit-animation: float 29s linear infinite 52s,wiggle 20.6s ease-in-out infinite 0ms;
}
.particle:nth-child(12) {
  animation: float 19s linear infinite 15s,wiggle 16.6s ease-in-out infinite 0ms;
  -o-animation: float 19s linear infinite 15s,wiggle 16.6s ease-in-out infinite 0ms;
  -moz-animation: float 19s linear infinite 15s,wiggle 16.6s ease-in-out infinite 0ms;
  -webkit-animation: float 19s linear infinite 15s,wiggle 16.6s ease-in-out infinite 0ms;
}
.particle:nth-child(13) {
  animation: float 20s linear infinite 20s,wiggle 17s ease-in-out infinite 0ms;
  -o-animation: float 20s linear infinite 20s,wiggle 17s ease-in-out infinite 0ms;
  -moz-animation: float 20s linear infinite 20s,wiggle 17s ease-in-out infinite 0ms;
  -webkit-animation: float 20s linear infinite 20s,wiggle 17s ease-in-out infinite 0ms;
}
.particle:nth-child(14) {
  animation: float 30s linear infinite 49s,wiggle 21s ease-in-out infinite 0ms;
  -o-animation: float 30s linear infinite 49s,wiggle 21s ease-in-out infinite 0ms;
  -moz-animation: float 30s linear infinite 49s,wiggle 21s ease-in-out infinite 0ms;
  -webkit-animation: float 30s linear infinite 49s,wiggle 21s ease-in-out infinite 0ms;
}
.particle:nth-child(15) {
  animation: float 22s linear infinite 5s,wiggle 17.8s ease-in-out infinite 0ms;
  -o-animation: float 22s linear infinite 5s,wiggle 17.8s ease-in-out infinite 0ms;
  -moz-animation: float 22s linear infinite 5s,wiggle 17.8s ease-in-out infinite 0ms;
  -webkit-animation: float 22s linear infinite 5s,wiggle 17.8s ease-in-out infinite 0ms;
}
.particle:nth-child(16) {
  animation: float 17s linear infinite 27s,wiggle 15.8s ease-in-out infinite 0ms;
  -o-animation: float 17s linear infinite 27s,wiggle 15.8s ease-in-out infinite 0ms;
  -moz-animation: float 17s linear infinite 27s,wiggle 15.8s ease-in-out infinite 0ms;
  -webkit-animation: float 17s linear infinite 27s,wiggle 15.8s ease-in-out infinite 0ms;
}
.particle:nth-child(17) {
  animation: float 30s linear infinite 57s,wiggle 21s ease-in-out infinite 0ms;
  -o-animation: float 30s linear infinite 57s,wiggle 21s ease-in-out infinite 0ms;
  -moz-animation: float 30s linear infinite 57s,wiggle 21s ease-in-out infinite 0ms;
  -webkit-animation: float 30s linear infinite 57s,wiggle 21s ease-in-out infinite 0ms;
}
.particle:nth-child(18) {
  animation: float 30s linear infinite 9s,wiggle 21s ease-in-out infinite 0ms;
  -o-animation: float 30s linear infinite 9s,wiggle 21s ease-in-out infinite 0ms;
  -moz-animation: float 30s linear infinite 9s,wiggle 21s ease-in-out infinite 0ms;
  -webkit-animation: float 30s linear infinite 9s,wiggle 21s ease-in-out infinite 0ms;
}
.particle:nth-child(19) {
  animation: float 16s linear infinite 7s,wiggle 15.4s ease-in-out infinite 0ms;
  -o-animation: float 16s linear infinite 7s,wiggle 15.4s ease-in-out infinite 0ms;
  -moz-animation: float 16s linear infinite 7s,wiggle 15.4s ease-in-out infinite 0ms;
  -webkit-animation: float 16s linear infinite 7s,wiggle 15.4s ease-in-out infinite 0ms;
}
.particle:nth-child(20) {
  animation: float 24s linear infinite 46s,wiggle 18.6s ease-in-out infinite 0ms;
  -o-animation: float 24s linear infinite 46s,wiggle 18.6s ease-in-out infinite 0ms;
  -moz-animation: float 24s linear infinite 46s,wiggle 18.6s ease-in-out infinite 0ms;
  -webkit-animation: float 24s linear infinite 46s,wiggle 18.6s ease-in-out infinite 0ms;
}
.particle:nth-child(21) {
  animation: float 17s linear infinite 11s,wiggle 15.8s ease-in-out infinite 0ms;
  -o-animation: float 17s linear infinite 11s,wiggle 15.8s ease-in-out infinite 0ms;
  -moz-animation: float 17s linear infinite 11s,wiggle 15.8s ease-in-out infinite 0ms;
  -webkit-animation: float 17s linear infinite 11s,wiggle 15.8s ease-in-out infinite 0ms;
}
.particle:nth-child(22) {
  animation: float 26s linear infinite 1s,wiggle 19.4s ease-in-out infinite 0ms;
  -o-animation: float 26s linear infinite 1s,wiggle 19.4s ease-in-out infinite 0ms;
  -moz-animation: float 26s linear infinite 1s,wiggle 19.4s ease-in-out infinite 0ms;
  -webkit-animation: float 26s linear infinite 1s,wiggle 19.4s ease-in-out infinite 0ms;
}
.particle:nth-child(23) {
  animation: float 16s linear infinite 34s,wiggle 15.4s ease-in-out infinite 0ms;
  -o-animation: float 16s linear infinite 34s,wiggle 15.4s ease-in-out infinite 0ms;
  -moz-animation: float 16s linear infinite 34s,wiggle 15.4s ease-in-out infinite 0ms;
  -webkit-animation: float 16s linear infinite 34s,wiggle 15.4s ease-in-out infinite 0ms;
}
.particle:nth-child(24) {
  animation: float 20s linear infinite 35s,wiggle 17s ease-in-out infinite 0ms;
  -o-animation: float 20s linear infinite 35s,wiggle 17s ease-in-out infinite 0ms;
  -moz-animation: float 20s linear infinite 35s,wiggle 17s ease-in-out infinite 0ms;
  -webkit-animation: float 20s linear infinite 35s,wiggle 17s ease-in-out infinite 0ms;
}
.particle:nth-child(25) {
  animation: float 28s linear infinite 53s,wiggle 20.2s ease-in-out infinite 0ms;
  -o-animation: float 28s linear infinite 53s,wiggle 20.2s ease-in-out infinite 0ms;
  -moz-animation: float 28s linear infinite 53s,wiggle 20.2s ease-in-out infinite 0ms;
  -webkit-animation: float 28s linear infinite 53s,wiggle 20.2s ease-in-out infinite 0ms;
}
.particle:nth-child(26) {
  animation: float 25s linear infinite 58s,wiggle 19s ease-in-out infinite 0ms;
  -o-animation: float 25s linear infinite 58s,wiggle 19s ease-in-out infinite 0ms;
  -moz-animation: float 25s linear infinite 58s,wiggle 19s ease-in-out infinite 0ms;
  -webkit-animation: float 25s linear infinite 58s,wiggle 19s ease-in-out infinite 0ms;
}
.particle:nth-child(27) {
  animation: float 18s linear infinite 38s,wiggle 16.2s ease-in-out infinite 0ms;
  -o-animation: float 18s linear infinite 38s,wiggle 16.2s ease-in-out infinite 0ms;
  -moz-animation: float 18s linear infinite 38s,wiggle 16.2s ease-in-out infinite 0ms;
  -webkit-animation: float 18s linear infinite 38s,wiggle 16.2s ease-in-out infinite 0ms;
}
.particle:nth-child(28) {
  animation: float 19s linear infinite 42s,wiggle 16.6s ease-in-out infinite 0ms;
  -o-animation: float 19s linear infinite 42s,wiggle 16.6s ease-in-out infinite 0ms;
  -moz-animation: float 19s linear infinite 42s,wiggle 16.6s ease-in-out infinite 0ms;
  -webkit-animation: float 19s linear infinite 42s,wiggle 16.6s ease-in-out infinite 0ms;
}
.particle:nth-child(29) {
  animation: float 24s linear infinite 13s,wiggle 18.6s ease-in-out infinite 0ms;
  -o-animation: float 24s linear infinite 13s,wiggle 18.6s ease-in-out infinite 0ms;
  -moz-animation: float 24s linear infinite 13s,wiggle 18.6s ease-in-out infinite 0ms;
  -webkit-animation: float 24s linear infinite 13s,wiggle 18.6s ease-in-out infinite 0ms;
}
.particle:nth-child(30) {
  animation: float 16s linear infinite 48s,wiggle 15.4s ease-in-out infinite 0ms;
  -o-animation: float 16s linear infinite 48s,wiggle 15.4s ease-in-out infinite 0ms;
  -moz-animation: float 16s linear infinite 48s,wiggle 15.4s ease-in-out infinite 0ms;
  -webkit-animation: float 16s linear infinite 48s,wiggle 15.4s ease-in-out infinite 0ms;
}
.particle:nth-child(31) {
  animation: float 29s linear infinite 23s,wiggle 20.6s ease-in-out infinite 0ms;
  -o-animation: float 29s linear infinite 23s,wiggle 20.6s ease-in-out infinite 0ms;
  -moz-animation: float 29s linear infinite 23s,wiggle 20.6s ease-in-out infinite 0ms;
  -webkit-animation: float 29s linear infinite 23s,wiggle 20.6s ease-in-out infinite 0ms;
}
.particle:nth-child(32) {
  animation: float 23s linear infinite 52s,wiggle 18.2s ease-in-out infinite 0ms;
  -o-animation: float 23s linear infinite 52s,wiggle 18.2s ease-in-out infinite 0ms;
  -moz-animation: float 23s linear infinite 52s,wiggle 18.2s ease-in-out infinite 0ms;
  -webkit-animation: float 23s linear infinite 52s,wiggle 18.2s ease-in-out infinite 0ms;
}
.particle:nth-child(33) {
  animation: float 30s linear infinite 32s,wiggle 21s ease-in-out infinite 0ms;
  -o-animation: float 30s linear infinite 32s,wiggle 21s ease-in-out infinite 0ms;
  -moz-animation: float 30s linear infinite 32s,wiggle 21s ease-in-out infinite 0ms;
  -webkit-animation: float 30s linear infinite 32s,wiggle 21s ease-in-out infinite 0ms;
}
.particle:nth-child(34) {
  animation: float 20s linear infinite 36s,wiggle 17s ease-in-out infinite 0ms;
  -o-animation: float 20s linear infinite 36s,wiggle 17s ease-in-out infinite 0ms;
  -moz-animation: float 20s linear infinite 36s,wiggle 17s ease-in-out infinite 0ms;
  -webkit-animation: float 20s linear infinite 36s,wiggle 17s ease-in-out infinite 0ms;
}
.particle:nth-child(35) {
  animation: float 19s linear infinite 40s,wiggle 16.6s ease-in-out infinite 0ms;
  -o-animation: float 19s linear infinite 40s,wiggle 16.6s ease-in-out infinite 0ms;
  -moz-animation: float 19s linear infinite 40s,wiggle 16.6s ease-in-out infinite 0ms;
  -webkit-animation: float 19s linear infinite 40s,wiggle 16.6s ease-in-out infinite 0ms;
}
.particle:nth-child(36) {
  animation: float 17s linear infinite 55s,wiggle 15.8s ease-in-out infinite 0ms;
  -o-animation: float 17s linear infinite 55s,wiggle 15.8s ease-in-out infinite 0ms;
  -moz-animation: float 17s linear infinite 55s,wiggle 15.8s ease-in-out infinite 0ms;
  -webkit-animation: float 17s linear infinite 55s,wiggle 15.8s ease-in-out infinite 0ms;
}
.particle:nth-child(37) {
  animation: float 24s linear infinite 10s,wiggle 18.6s ease-in-out infinite 0ms;
  -o-animation: float 24s linear infinite 10s,wiggle 18.6s ease-in-out infinite 0ms;
  -moz-animation: float 24s linear infinite 10s,wiggle 18.6s ease-in-out infinite 0ms;
  -webkit-animation: float 24s linear infinite 10s,wiggle 18.6s ease-in-out infinite 0ms;
}
.particle:nth-child(38) {
  animation: float 18s linear infinite 32s,wiggle 16.2s ease-in-out infinite 0ms;
  -o-animation: float 18s linear infinite 32s,wiggle 16.2s ease-in-out infinite 0ms;
  -moz-animation: float 18s linear infinite 32s,wiggle 16.2s ease-in-out infinite 0ms;
  -webkit-animation: float 18s linear infinite 32s,wiggle 16.2s ease-in-out infinite 0ms;
}
.particle:nth-child(39) {
  animation: float 22s linear infinite 15s,wiggle 17.8s ease-in-out infinite 0ms;
  -o-animation: float 22s linear infinite 15s,wiggle 17.8s ease-in-out infinite 0ms;
  -moz-animation: float 22s linear infinite 15s,wiggle 17.8s ease-in-out infinite 0ms;
  -webkit-animation: float 22s linear infinite 15s,wiggle 17.8s ease-in-out infinite 0ms;
}
.particle:nth-child(40) {
  animation: float 24s linear infinite 18s,wiggle 18.6s ease-in-out infinite 0ms;
  -o-animation: float 24s linear infinite 18s,wiggle 18.6s ease-in-out infinite 0ms;
  -moz-animation: float 24s linear infinite 18s,wiggle 18.6s ease-in-out infinite 0ms;
  -webkit-animation: float 24s linear infinite 18s,wiggle 18.6s ease-in-out infinite 0ms;
}
.particle:nth-child(41) {
  animation: float 20s linear infinite 13s,wiggle 17s ease-in-out infinite 0ms;
  -o-animation: float 20s linear infinite 13s,wiggle 17s ease-in-out infinite 0ms;
  -moz-animation: float 20s linear infinite 13s,wiggle 17s ease-in-out infinite 0ms;
  -webkit-animation: float 20s linear infinite 13s,wiggle 17s ease-in-out infinite 0ms;
}
.particle:nth-child(42) {
  animation: float 22s linear infinite 13s,wiggle 17.8s ease-in-out infinite 0ms;
  -o-animation: float 22s linear infinite 13s,wiggle 17.8s ease-in-out infinite 0ms;
  -moz-animation: float 22s linear infinite 13s,wiggle 17.8s ease-in-out infinite 0ms;
  -webkit-animation: float 22s linear infinite 13s,wiggle 17.8s ease-in-out infinite 0ms;
}
.particle:nth-child(43) {
  animation: float 16s linear infinite 60s,wiggle 15.4s ease-in-out infinite 0ms;
  -o-animation: float 16s linear infinite 60s,wiggle 15.4s ease-in-out infinite 0ms;
  -moz-animation: float 16s linear infinite 60s,wiggle 15.4s ease-in-out infinite 0ms;
  -webkit-animation: float 16s linear infinite 60s,wiggle 15.4s ease-in-out infinite 0ms;
}
.particle:nth-child(44) {
  animation: float 16s linear infinite 43s,wiggle 15.4s ease-in-out infinite 0ms;
  -o-animation: float 16s linear infinite 43s,wiggle 15.4s ease-in-out infinite 0ms;
  -moz-animation: float 16s linear infinite 43s,wiggle 15.4s ease-in-out infinite 0ms;
  -webkit-animation: float 16s linear infinite 43s,wiggle 15.4s ease-in-out infinite 0ms;
}
.particle:nth-child(45) {
  animation: float 30s linear infinite 42s,wiggle 21s ease-in-out infinite 0ms;
  -o-animation: float 30s linear infinite 42s,wiggle 21s ease-in-out infinite 0ms;
  -moz-animation: float 30s linear infinite 42s,wiggle 21s ease-in-out infinite 0ms;
  -webkit-animation: float 30s linear infinite 42s,wiggle 21s ease-in-out infinite 0ms;
}
.particle:nth-child(46) {
  animation: float 18s linear infinite 41s,wiggle 16.2s ease-in-out infinite 0ms;
  -o-animation: float 18s linear infinite 41s,wiggle 16.2s ease-in-out infinite 0ms;
  -moz-animation: float 18s linear infinite 41s,wiggle 16.2s ease-in-out infinite 0ms;
  -webkit-animation: float 18s linear infinite 41s,wiggle 16.2s ease-in-out infinite 0ms;
}
.particle:nth-child(47) {
  animation: float 27s linear infinite 24s,wiggle 19.8s ease-in-out infinite 0ms;
  -o-animation: float 27s linear infinite 24s,wiggle 19.8s ease-in-out infinite 0ms;
  -moz-animation: float 27s linear infinite 24s,wiggle 19.8s ease-in-out infinite 0ms;
  -webkit-animation: float 27s linear infinite 24s,wiggle 19.8s ease-in-out infinite 0ms;
}
.particle:nth-child(48) {
  animation: float 29s linear infinite 37s,wiggle 20.6s ease-in-out infinite 0ms;
  -o-animation: float 29s linear infinite 37s,wiggle 20.6s ease-in-out infinite 0ms;
  -moz-animation: float 29s linear infinite 37s,wiggle 20.6s ease-in-out infinite 0ms;
  -webkit-animation: float 29s linear infinite 37s,wiggle 20.6s ease-in-out infinite 0ms;
}
.particle:nth-child(49) {
  animation: float 27s linear infinite 21s,wiggle 19.8s ease-in-out infinite 0ms;
  -o-animation: float 27s linear infinite 21s,wiggle 19.8s ease-in-out infinite 0ms;
  -moz-animation: float 27s linear infinite 21s,wiggle 19.8s ease-in-out infinite 0ms;
  -webkit-animation: float 27s linear infinite 21s,wiggle 19.8s ease-in-out infinite 0ms;
}
.particle:nth-child(50) {
  animation: float 17s linear infinite 53s,wiggle 15.8s ease-in-out infinite 0ms;
  -o-animation: float 17s linear infinite 53s,wiggle 15.8s ease-in-out infinite 0ms;
  -moz-animation: float 17s linear infinite 53s,wiggle 15.8s ease-in-out infinite 0ms;
  -webkit-animation: float 17s linear infinite 53s,wiggle 15.8s ease-in-out infinite 0ms;
}
.particle:nth-child(51) {
  animation: float 27s linear infinite 48s,wiggle 19.8s ease-in-out infinite 0ms;
  -o-animation: float 27s linear infinite 48s,wiggle 19.8s ease-in-out infinite 0ms;
  -moz-animation: float 27s linear infinite 48s,wiggle 19.8s ease-in-out infinite 0ms;
  -webkit-animation: float 27s linear infinite 48s,wiggle 19.8s ease-in-out infinite 0ms;
}
.particle:nth-child(52) {
  animation: float 21s linear infinite 24s,wiggle 17.4s ease-in-out infinite 0ms;
  -o-animation: float 21s linear infinite 24s,wiggle 17.4s ease-in-out infinite 0ms;
  -moz-animation: float 21s linear infinite 24s,wiggle 17.4s ease-in-out infinite 0ms;
  -webkit-animation: float 21s linear infinite 24s,wiggle 17.4s ease-in-out infinite 0ms;
}
.particle:nth-child(53) {
  animation: float 27s linear infinite 18s,wiggle 19.8s ease-in-out infinite 0ms;
  -o-animation: float 27s linear infinite 18s,wiggle 19.8s ease-in-out infinite 0ms;
  -moz-animation: float 27s linear infinite 18s,wiggle 19.8s ease-in-out infinite 0ms;
  -webkit-animation: float 27s linear infinite 18s,wiggle 19.8s ease-in-out infinite 0ms;
}
.particle:nth-child(54) {
  animation: float 26s linear infinite 19s,wiggle 19.4s ease-in-out infinite 0ms;
  -o-animation: float 26s linear infinite 19s,wiggle 19.4s ease-in-out infinite 0ms;
  -moz-animation: float 26s linear infinite 19s,wiggle 19.4s ease-in-out infinite 0ms;
  -webkit-animation: float 26s linear infinite 19s,wiggle 19.4s ease-in-out infinite 0ms;
}
.particle:nth-child(55) {
  animation: float 17s linear infinite 37s,wiggle 15.8s ease-in-out infinite 0ms;
  -o-animation: float 17s linear infinite 37s,wiggle 15.8s ease-in-out infinite 0ms;
  -moz-animation: float 17s linear infinite 37s,wiggle 15.8s ease-in-out infinite 0ms;
  -webkit-animation: float 17s linear infinite 37s,wiggle 15.8s ease-in-out infinite 0ms;
}
.particle:nth-child(56) {
  animation: float 29s linear infinite 20s,wiggle 20.6s ease-in-out infinite 0ms;
  -o-animation: float 29s linear infinite 20s,wiggle 20.6s ease-in-out infinite 0ms;
  -moz-animation: float 29s linear infinite 20s,wiggle 20.6s ease-in-out infinite 0ms;
  -webkit-animation: float 29s linear infinite 20s,wiggle 20.6s ease-in-out infinite 0ms;
}
.particle:nth-child(57) {
  animation: float 24s linear infinite 22s,wiggle 18.6s ease-in-out infinite 0ms;
  -o-animation: float 24s linear infinite 22s,wiggle 18.6s ease-in-out infinite 0ms;
  -moz-animation: float 24s linear infinite 22s,wiggle 18.6s ease-in-out infinite 0ms;
  -webkit-animation: float 24s linear infinite 22s,wiggle 18.6s ease-in-out infinite 0ms;
}
.particle:nth-child(58) {
  animation: float 23s linear infinite 13s,wiggle 18.2s ease-in-out infinite 0ms;
  -o-animation: float 23s linear infinite 13s,wiggle 18.2s ease-in-out infinite 0ms;
  -moz-animation: float 23s linear infinite 13s,wiggle 18.2s ease-in-out infinite 0ms;
  -webkit-animation: float 23s linear infinite 13s,wiggle 18.2s ease-in-out infinite 0ms;
}
.particle:nth-child(59) {
  animation: float 27s linear infinite 34s,wiggle 19.8s ease-in-out infinite 0ms;
  -o-animation: float 27s linear infinite 34s,wiggle 19.8s ease-in-out infinite 0ms;
  -moz-animation: float 27s linear infinite 34s,wiggle 19.8s ease-in-out infinite 0ms;
  -webkit-animation: float 27s linear infinite 34s,wiggle 19.8s ease-in-out infinite 0ms;
}
.particle:nth-child(60) {
  animation: float 22s linear infinite 42s,wiggle 17.8s ease-in-out infinite 0ms;
  -o-animation: float 22s linear infinite 42s,wiggle 17.8s ease-in-out infinite 0ms;
  -moz-animation: float 22s linear infinite 42s,wiggle 17.8s ease-in-out infinite 0ms;
  -webkit-animation: float 22s linear infinite 42s,wiggle 17.8s ease-in-out infinite 0ms;
}
.particle:nth-child(61) {
  animation: float 18s linear infinite 24s,wiggle 16.2s ease-in-out infinite 0ms;
  -o-animation: float 18s linear infinite 24s,wiggle 16.2s ease-in-out infinite 0ms;
  -moz-animation: float 18s linear infinite 24s,wiggle 16.2s ease-in-out infinite 0ms;
  -webkit-animation: float 18s linear infinite 24s,wiggle 16.2s ease-in-out infinite 0ms;
}
.particle:nth-child(62) {
  animation: float 17s linear infinite 32s,wiggle 15.8s ease-in-out infinite 0ms;
  -o-animation: float 17s linear infinite 32s,wiggle 15.8s ease-in-out infinite 0ms;
  -moz-animation: float 17s linear infinite 32s,wiggle 15.8s ease-in-out infinite 0ms;
  -webkit-animation: float 17s linear infinite 32s,wiggle 15.8s ease-in-out infinite 0ms;
}
.particle:nth-child(63) {
  animation: float 25s linear infinite 3s,wiggle 19s ease-in-out infinite 0ms;
  -o-animation: float 25s linear infinite 3s,wiggle 19s ease-in-out infinite 0ms;
  -moz-animation: float 25s linear infinite 3s,wiggle 19s ease-in-out infinite 0ms;
  -webkit-animation: float 25s linear infinite 3s,wiggle 19s ease-in-out infinite 0ms;
}
.particle:nth-child(64) {
  animation: float 23s linear infinite 56s,wiggle 18.2s ease-in-out infinite 0ms;
  -o-animation: float 23s linear infinite 56s,wiggle 18.2s ease-in-out infinite 0ms;
  -moz-animation: float 23s linear infinite 56s,wiggle 18.2s ease-in-out infinite 0ms;
  -webkit-animation: float 23s linear infinite 56s,wiggle 18.2s ease-in-out infinite 0ms;
}
.particle:nth-child(65) {
  animation: float 17s linear infinite 46s,wiggle 15.8s ease-in-out infinite 0ms;
  -o-animation: float 17s linear infinite 46s,wiggle 15.8s ease-in-out infinite 0ms;
  -moz-animation: float 17s linear infinite 46s,wiggle 15.8s ease-in-out infinite 0ms;
  -webkit-animation: float 17s linear infinite 46s,wiggle 15.8s ease-in-out infinite 0ms;
}
.particle:nth-child(66) {
  animation: float 29s linear infinite 13s,wiggle 20.6s ease-in-out infinite 0ms;
  -o-animation: float 29s linear infinite 13s,wiggle 20.6s ease-in-out infinite 0ms;
  -moz-animation: float 29s linear infinite 13s,wiggle 20.6s ease-in-out infinite 0ms;
  -webkit-animation: float 29s linear infinite 13s,wiggle 20.6s ease-in-out infinite 0ms;
}
.particle:nth-child(67) {
  animation: float 17s linear infinite 14s,wiggle 15.8s ease-in-out infinite 0ms;
  -o-animation: float 17s linear infinite 14s,wiggle 15.8s ease-in-out infinite 0ms;
  -moz-animation: float 17s linear infinite 14s,wiggle 15.8s ease-in-out infinite 0ms;
  -webkit-animation: float 17s linear infinite 14s,wiggle 15.8s ease-in-out infinite 0ms;
}
.particle:nth-child(68) {
  animation: float 17s linear infinite 21s,wiggle 15.8s ease-in-out infinite 0ms;
  -o-animation: float 17s linear infinite 21s,wiggle 15.8s ease-in-out infinite 0ms;
  -moz-animation: float 17s linear infinite 21s,wiggle 15.8s ease-in-out infinite 0ms;
  -webkit-animation: float 17s linear infinite 21s,wiggle 15.8s ease-in-out infinite 0ms;
}
.particle:nth-child(69) {
  animation: float 29s linear infinite 28s,wiggle 20.6s ease-in-out infinite 0ms;
  -o-animation: float 29s linear infinite 28s,wiggle 20.6s ease-in-out infinite 0ms;
  -moz-animation: float 29s linear infinite 28s,wiggle 20.6s ease-in-out infinite 0ms;
  -webkit-animation: float 29s linear infinite 28s,wiggle 20.6s ease-in-out infinite 0ms;
}
.particle:nth-child(70) {
  animation: float 23s linear infinite 35s,wiggle 18.2s ease-in-out infinite 0ms;
  -o-animation: float 23s linear infinite 35s,wiggle 18.2s ease-in-out infinite 0ms;
  -moz-animation: float 23s linear infinite 35s,wiggle 18.2s ease-in-out infinite 0ms;
  -webkit-animation: float 23s linear infinite 35s,wiggle 18.2s ease-in-out infinite 0ms;
}
.particle:nth-child(71) {
  animation: float 18s linear infinite 52s,wiggle 16.2s ease-in-out infinite 0ms;
  -o-animation: float 18s linear infinite 52s,wiggle 16.2s ease-in-out infinite 0ms;
  -moz-animation: float 18s linear infinite 52s,wiggle 16.2s ease-in-out infinite 0ms;
  -webkit-animation: float 18s linear infinite 52s,wiggle 16.2s ease-in-out infinite 0ms;
}
.particle:nth-child(72) {
  animation: float 29s linear infinite 47s,wiggle 20.6s ease-in-out infinite 0ms;
  -o-animation: float 29s linear infinite 47s,wiggle 20.6s ease-in-out infinite 0ms;
  -moz-animation: float 29s linear infinite 47s,wiggle 20.6s ease-in-out infinite 0ms;
  -webkit-animation: float 29s linear infinite 47s,wiggle 20.6s ease-in-out infinite 0ms;
}
.particle:nth-child(73) {
  animation: float 20s linear infinite 16s,wiggle 17s ease-in-out infinite 0ms;
  -o-animation: float 20s linear infinite 16s,wiggle 17s ease-in-out infinite 0ms;
  -moz-animation: float 20s linear infinite 16s,wiggle 17s ease-in-out infinite 0ms;
  -webkit-animation: float 20s linear infinite 16s,wiggle 17s ease-in-out infinite 0ms;
}
.particle:nth-child(74) {
  animation: float 18s linear infinite 58s,wiggle 16.2s ease-in-out infinite 0ms;
  -o-animation: float 18s linear infinite 58s,wiggle 16.2s ease-in-out infinite 0ms;
  -moz-animation: float 18s linear infinite 58s,wiggle 16.2s ease-in-out infinite 0ms;
  -webkit-animation: float 18s linear infinite 58s,wiggle 16.2s ease-in-out infinite 0ms;
}
.particle:nth-child(75) {
  animation: float 30s linear infinite 4s,wiggle 21s ease-in-out infinite 0ms;
  -o-animation: float 30s linear infinite 4s,wiggle 21s ease-in-out infinite 0ms;
  -moz-animation: float 30s linear infinite 4s,wiggle 21s ease-in-out infinite 0ms;
  -webkit-animation: float 30s linear infinite 4s,wiggle 21s ease-in-out infinite 0ms;
}
.particle:nth-child(76) {
  animation: float 22s linear infinite 32s,wiggle 17.8s ease-in-out infinite 0ms;
  -o-animation: float 22s linear infinite 32s,wiggle 17.8s ease-in-out infinite 0ms;
  -moz-animation: float 22s linear infinite 32s,wiggle 17.8s ease-in-out infinite 0ms;
  -webkit-animation: float 22s linear infinite 32s,wiggle 17.8s ease-in-out infinite 0ms;
}
.particle:nth-child(77) {
  animation: float 23s linear infinite 5s,wiggle 18.2s ease-in-out infinite 0ms;
  -o-animation: float 23s linear infinite 5s,wiggle 18.2s ease-in-out infinite 0ms;
  -moz-animation: float 23s linear infinite 5s,wiggle 18.2s ease-in-out infinite 0ms;
  -webkit-animation: float 23s linear infinite 5s,wiggle 18.2s ease-in-out infinite 0ms;
}
.particle:nth-child(78) {
  animation: float 26s linear infinite 8s,wiggle 19.4s ease-in-out infinite 0ms;
  -o-animation: float 26s linear infinite 8s,wiggle 19.4s ease-in-out infinite 0ms;
  -moz-animation: float 26s linear infinite 8s,wiggle 19.4s ease-in-out infinite 0ms;
  -webkit-animation: float 26s linear infinite 8s,wiggle 19.4s ease-in-out infinite 0ms;
}
.particle:nth-child(79) {
  animation: float 26s linear infinite 42s,wiggle 19.4s ease-in-out infinite 0ms;
  -o-animation: float 26s linear infinite 42s,wiggle 19.4s ease-in-out infinite 0ms;
  -moz-animation: float 26s linear infinite 42s,wiggle 19.4s ease-in-out infinite 0ms;
  -webkit-animation: float 26s linear infinite 42s,wiggle 19.4s ease-in-out infinite 0ms;
}
.particle:nth-child(80) {
  animation: float 27s linear infinite 29s,wiggle 19.8s ease-in-out infinite 0ms;
  -o-animation: float 27s linear infinite 29s,wiggle 19.8s ease-in-out infinite 0ms;
  -moz-animation: float 27s linear infinite 29s,wiggle 19.8s ease-in-out infinite 0ms;
  -webkit-animation: float 27s linear infinite 29s,wiggle 19.8s ease-in-out infinite 0ms;
}
.particle:nth-child(81) {
  animation: float 18s linear infinite 30s,wiggle 16.2s ease-in-out infinite 0ms;
  -o-animation: float 18s linear infinite 30s,wiggle 16.2s ease-in-out infinite 0ms;
  -moz-animation: float 18s linear infinite 30s,wiggle 16.2s ease-in-out infinite 0ms;
  -webkit-animation: float 18s linear infinite 30s,wiggle 16.2s ease-in-out infinite 0ms;
}
.particle:nth-child(82) {
  animation: float 19s linear infinite 23s,wiggle 16.6s ease-in-out infinite 0ms;
  -o-animation: float 19s linear infinite 23s,wiggle 16.6s ease-in-out infinite 0ms;
  -moz-animation: float 19s linear infinite 23s,wiggle 16.6s ease-in-out infinite 0ms;
  -webkit-animation: float 19s linear infinite 23s,wiggle 16.6s ease-in-out infinite 0ms;
}
.particle:nth-child(83) {
  animation: float 19s linear infinite 17s,wiggle 16.6s ease-in-out infinite 0ms;
  -o-animation: float 19s linear infinite 17s,wiggle 16.6s ease-in-out infinite 0ms;
  -moz-animation: float 19s linear infinite 17s,wiggle 16.6s ease-in-out infinite 0ms;
  -webkit-animation: float 19s linear infinite 17s,wiggle 16.6s ease-in-out infinite 0ms;
}
.particle:nth-child(84) {
  animation: float 26s linear infinite 30s,wiggle 19.4s ease-in-out infinite 0ms;
  -o-animation: float 26s linear infinite 30s,wiggle 19.4s ease-in-out infinite 0ms;
  -moz-animation: float 26s linear infinite 30s,wiggle 19.4s ease-in-out infinite 0ms;
  -webkit-animation: float 26s linear infinite 30s,wiggle 19.4s ease-in-out infinite 0ms;
}
.particle:nth-child(85) {
  animation: float 20s linear infinite 14s,wiggle 17s ease-in-out infinite 0ms;
  -o-animation: float 20s linear infinite 14s,wiggle 17s ease-in-out infinite 0ms;
  -moz-animation: float 20s linear infinite 14s,wiggle 17s ease-in-out infinite 0ms;
  -webkit-animation: float 20s linear infinite 14s,wiggle 17s ease-in-out infinite 0ms;
}
.particle:nth-child(86) {
  animation: float 24s linear infinite 29s,wiggle 18.6s ease-in-out infinite 0ms;
  -o-animation: float 24s linear infinite 29s,wiggle 18.6s ease-in-out infinite 0ms;
  -moz-animation: float 24s linear infinite 29s,wiggle 18.6s ease-in-out infinite 0ms;
  -webkit-animation: float 24s linear infinite 29s,wiggle 18.6s ease-in-out infinite 0ms;
}
.particle:nth-child(87) {
  animation: float 26s linear infinite 46s,wiggle 19.4s ease-in-out infinite 0ms;
  -o-animation: float 26s linear infinite 46s,wiggle 19.4s ease-in-out infinite 0ms;
  -moz-animation: float 26s linear infinite 46s,wiggle 19.4s ease-in-out infinite 0ms;
  -webkit-animation: float 26s linear infinite 46s,wiggle 19.4s ease-in-out infinite 0ms;
}
.particle:nth-child(88) {
  animation: float 20s linear infinite 14s,wiggle 17s ease-in-out infinite 0ms;
  -o-animation: float 20s linear infinite 14s,wiggle 17s ease-in-out infinite 0ms;
  -moz-animation: float 20s linear infinite 14s,wiggle 17s ease-in-out infinite 0ms;
  -webkit-animation: float 20s linear infinite 14s,wiggle 17s ease-in-out infinite 0ms;
}
.particle:nth-child(89) {
  animation: float 25s linear infinite 1s,wiggle 19s ease-in-out infinite 0ms;
  -o-animation: float 25s linear infinite 1s,wiggle 19s ease-in-out infinite 0ms;
  -moz-animation: float 25s linear infinite 1s,wiggle 19s ease-in-out infinite 0ms;
  -webkit-animation: float 25s linear infinite 1s,wiggle 19s ease-in-out infinite 0ms;
}
.particle:nth-child(90) {
  animation: float 29s linear infinite 7s,wiggle 20.6s ease-in-out infinite 0ms;
  -o-animation: float 29s linear infinite 7s,wiggle 20.6s ease-in-out infinite 0ms;
  -moz-animation: float 29s linear infinite 7s,wiggle 20.6s ease-in-out infinite 0ms;
  -webkit-animation: float 29s linear infinite 7s,wiggle 20.6s ease-in-out infinite 0ms;
}
.particle:nth-child(91) {
  animation: float 21s linear infinite 50s,wiggle 17.4s ease-in-out infinite 0ms;
  -o-animation: float 21s linear infinite 50s,wiggle 17.4s ease-in-out infinite 0ms;
  -moz-animation: float 21s linear infinite 50s,wiggle 17.4s ease-in-out infinite 0ms;
  -webkit-animation: float 21s linear infinite 50s,wiggle 17.4s ease-in-out infinite 0ms;
}
.particle:nth-child(92) {
  animation: float 29s linear infinite 52s,wiggle 20.6s ease-in-out infinite 0ms;
  -o-animation: float 29s linear infinite 52s,wiggle 20.6s ease-in-out infinite 0ms;
  -moz-animation: float 29s linear infinite 52s,wiggle 20.6s ease-in-out infinite 0ms;
  -webkit-animation: float 29s linear infinite 52s,wiggle 20.6s ease-in-out infinite 0ms;
}
.particle:nth-child(93) {
  animation: float 16s linear infinite 22s,wiggle 15.4s ease-in-out infinite 0ms;
  -o-animation: float 16s linear infinite 22s,wiggle 15.4s ease-in-out infinite 0ms;
  -moz-animation: float 16s linear infinite 22s,wiggle 15.4s ease-in-out infinite 0ms;
  -webkit-animation: float 16s linear infinite 22s,wiggle 15.4s ease-in-out infinite 0ms;
}
.particle:nth-child(94) {
  animation: float 22s linear infinite 55s,wiggle 17.8s ease-in-out infinite 0ms;
  -o-animation: float 22s linear infinite 55s,wiggle 17.8s ease-in-out infinite 0ms;
  -moz-animation: float 22s linear infinite 55s,wiggle 17.8s ease-in-out infinite 0ms;
  -webkit-animation: float 22s linear infinite 55s,wiggle 17.8s ease-in-out infinite 0ms;
}
.particle:nth-child(95) {
  animation: float 28s linear infinite 40s,wiggle 20.2s ease-in-out infinite 0ms;
  -o-animation: float 28s linear infinite 40s,wiggle 20.2s ease-in-out infinite 0ms;
  -moz-animation: float 28s linear infinite 40s,wiggle 20.2s ease-in-out infinite 0ms;
  -webkit-animation: float 28s linear infinite 40s,wiggle 20.2s ease-in-out infinite 0ms;
}
.particle:nth-child(96) {
  animation: float 24s linear infinite 51s,wiggle 18.6s ease-in-out infinite 0ms;
  -o-animation: float 24s linear infinite 51s,wiggle 18.6s ease-in-out infinite 0ms;
  -moz-animation: float 24s linear infinite 51s,wiggle 18.6s ease-in-out infinite 0ms;
  -webkit-animation: float 24s linear infinite 51s,wiggle 18.6s ease-in-out infinite 0ms;
}
.particle:nth-child(97) {
  animation: float 27s linear infinite 46s,wiggle 19.8s ease-in-out infinite 0ms;
  -o-animation: float 27s linear infinite 46s,wiggle 19.8s ease-in-out infinite 0ms;
  -moz-animation: float 27s linear infinite 46s,wiggle 19.8s ease-in-out infinite 0ms;
  -webkit-animation: float 27s linear infinite 46s,wiggle 19.8s ease-in-out infinite 0ms;
}
.particle:nth-child(98) {
  animation: float 16s linear infinite 25s,wiggle 15.4s ease-in-out infinite 0ms;
  -o-animation: float 16s linear infinite 25s,wiggle 15.4s ease-in-out infinite 0ms;
  -moz-animation: float 16s linear infinite 25s,wiggle 15.4s ease-in-out infinite 0ms;
  -webkit-animation: float 16s linear infinite 25s,wiggle 15.4s ease-in-out infinite 0ms;
}
.particle:nth-child(99) {
  animation: float 23s linear infinite 54s,wiggle 18.2s ease-in-out infinite 0ms;
  -o-animation: float 23s linear infinite 54s,wiggle 18.2s ease-in-out infinite 0ms;
  -moz-animation: float 23s linear infinite 54s,wiggle 18.2s ease-in-out infinite 0ms;
  -webkit-animation: float 23s linear infinite 54s,wiggle 18.2s ease-in-out infinite 0ms;
}
.particle:nth-child(100) {
  animation: float 30s linear infinite 31s,wiggle 21s ease-in-out infinite 0ms;
  -o-animation: float 30s linear infinite 31s,wiggle 21s ease-in-out infinite 0ms;
  -moz-animation: float 30s linear infinite 31s,wiggle 21s ease-in-out infinite 0ms;
  -webkit-animation: float 30s linear infinite 31s,wiggle 21s ease-in-out infinite 0ms;
}

#highlight {
  color: #c050cf;
  font-weight: bold;
}

#overlay {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

#intro {
  background-color: #1c1b1f;
  width: 100vw;
  height: 100vh;
  position: relative;
}
@media screen and (max-width: 650px) {
  #intro {
    border-bottom: 25px solid #141316;
    outline: 5px solid #c050cf;
  }
}
#intro h1 {
  z-index: 2;
}
#intro button {
  border: 2px solid #b492af;
  background-color: #141316;
  z-index: 2;
}
#intro button:hover {
  border: 2px solid #c050cf;
}
#intro button a {
  color: #b492af;
}
#intro button a:hover {
  color: #c050cf;
}

#tsparticles {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

#center-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

#vertical-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#card {
  width: 80%;
  padding: 16px;
  margin: auto;
  margin-top: 48px;
  margin-bottom: 48px;
  background-color: rgba(28, 27, 31, 0.1);
  border-radius: 20px;
  transition: opacity 500ms;
}
#card p {
  text-align: center;
}

#nav-bar {
  position: absolute;
  top: 100vh;
  display: flex;
  width: 100%;
  padding: 4px;
  padding-left: 10%;
  background-color: #141316;
  z-index: 2;
}
@media screen and (max-width: 650px) {
  #nav-bar {
    display: none;
  }
}

.nav-link {
  padding: 4px;
  padding-left: 6px;
  color: #756277;
  font: 20px Helvetica;
  margin: 4px;
  margin-left: 12px;
  margin-right: 12px;
  border: 2px solid transparent;
  border-radius: 3px;
  transition: color 500ms, border 500ms;
}
.nav-link:hover {
  color: #c050cf;
  border-bottom: 2px solid #c050cf;
}

#skills {
  margin-top: 64px;
  padding-top: 32px;
}

#about {
  padding-top: 32px;
}

#container {
  display: inline-block;
  text-align: center;
}

#projects {
  padding-top: 32px;
}

#project {
  width: 300px;
  height: 300px;
  margin: 24px;
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
#project img {
  border-radius: 10px;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 650px) {
  #project {
    margin: 0px;
    margin-top: 24px;
    margin-top: 24px;
  }
}
@media screen and (max-width: 370px) {
  #project {
    width: 200px;
    height: 200px;
  }
}

#wrapper {
  z-index: 1;
  margin: 8px;
  padding: 4px;
  width: auto;
  height: auto;
  background-color: transparent;
  border-radius: 10px;
  transition: background 500ms;
  overflow: hidden;
  border: none;
}
#wrapper h3 {
  transition: color 500ms;
  color: transparent;
}
@media screen and (max-width: 370px) {
  #wrapper h3 {
    font-size: 32px;
  }
}
#wrapper p {
  transition: color 500ms;
  color: transparent;
}
@media screen and (max-width: 370px) {
  #wrapper p {
    display: none;
  }
}
#wrapper:hover {
  background-color: rgba(247, 235, 236, 0.9);
}
#wrapper:hover h3 {
  color: #756277;
}
#wrapper:hover p {
  color: #756277;
}
@media screen and (max-width: 370px) {
  #wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

#face-container {
  position: relative;
  display: flex;
  height: 30%;
  max-width: 500px;
  overflow: hidden;
  border-radius: 20px;
  text-align: center;
}
#face-container img {
  right: 0px;
  height: 100%;
  min-width: 300px;
}
@media screen and (max-width: 650px) {
  #face-container img {
    right: -50px;
  }
}
@media screen and (max-width: 370px) {
  #face-container img {
    width: 100%;
    height: auto;
    right: 0px;
    bottom: 0px;
  }
}
#face-container #wrapper {
  border-radius: 20px;
  top: 0px;
  left: 0px;
}

#text-container {
  max-width: 400px;
  display: inline-block;
  vertical-align: top;
}

#contact {
  position: relative;
  margin-top: 64px;
  border-top: 5px solid #c050cf;
  background-color: #1c1b1f;
  padding: 32px;
}
#contact #tsparticles {
  z-index: 0;
}

#email-box {
  max-width: 600px;
  width: 80%;
  text-align: center;
  background-color: #141316;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  z-index: 2;
}
#email-box input, #email-box textarea {
  width: auto;
  height: auto;
  margin-top: 4px;
  margin-bottom: 4px;
}
#email-box div #submit {
  margin: 24px;
  max-width: 300px;
  width: 80%;
}

#resume {
  margin: 32px;
}
#resume button {
  background-color: #1c1b1f;
  z-index: 2;
}
#resume embed {
  z-index: 2;
}

#resume-viewer {
  margin-top: 16px;
  margin-bottom: 16px;
  height: 0px;
  max-height: 900px;
  width: 100%;
  max-width: 700px;
  transition: height 500ms;
}

#socials {
  margin-top: 24px;
  z-index: 3;
}
#socials a {
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: background 250ms;
}
#socials a:hover {
  border: 2px solid transparent;
}
#socials a:hover img {
  filter: invert(49%) sepia(38%) saturate(1234%) hue-rotate(248deg) brightness(84%) contrast(93%);
}
#socials a img {
  transition: filter 250ms;
  height: 100%;
}

#footer {
  padding: 24px;
  background-color: #141316;
}
#footer p {
  text-align: center;
}
#footer p a {
  color: #b492af;
}

/*# sourceMappingURL=globals.css.map */
