html {
  scroll-behavior: smooth;
}
html body {
  background-color: #F7EBEC;
  overflow-x: hidden;
  overflow-y: overlay;
  letter-spacing: 4px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(192, 80, 207, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(192, 80, 207, 0.5);
}

h1 {
  text-align: center;
  color: #756277;
  font: 48px Helvetica;
  margin: 24px;
}

h2 {
  text-align: center;
  color: #756277;
  font: 24px Helvetica;
  margin: 24px;
  line-height: 1.5;
}
h2 a {
  font-size: 24px;
}

p {
  text-align: left;
  color: #756277;
  font: 18px Helvetica;
  margin: 16px;
}

a {
  font: 18px Helvetica;
  transition: color 500ms, border 500ms;
  color: #141316;
  border: 2px solid transparent;
  padding: 4px;
  border-radius: 5px;
}
a:hover {
  color: #c050cf;
  border: 2px solid #756277;
}

@keyframes float {
  0% {
    top: 100vh;
  }
  100% {
    top: 0vh;
  }
}
@-o-keyframes float {
  0% {
    top: 100vh;
  }
  100% {
    top: 0vh;
  }
}
@-moz-keyframes float {
  0% {
    top: 100vh;
  }
  100% {
    top: 0vh;
  }
}
@-webkit-keyframes float {
  0% {
    top: 100vh;
  }
  100% {
    top: 0vh;
  }
}
@keyframes wiggle {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translatex(-50px);
  }
}
@-o-keyframes wiggle {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translatex(-50px);
  }
}
@-moz-keyframes wiggle {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translatex(-50px);
  }
}
@-webkit-keyframes wiggle {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translatex(-50px);
  }
}
#background {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #F7EBEC;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.particle {
  margin: auto;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #4b3852;
  opacity: 0.3;
  position: absolute;
}
.particle:nth-child(1) {
  animation: float 22s linear infinite 26s,wiggle 17.8s ease-in-out infinite 0ms;
  -o-animation: float 22s linear infinite 26s,wiggle 17.8s ease-in-out infinite 0ms;
  -moz-animation: float 22s linear infinite 26s,wiggle 17.8s ease-in-out infinite 0ms;
  -webkit-animation: float 22s linear infinite 26s,wiggle 17.8s ease-in-out infinite 0ms;
}
.particle:nth-child(2) {
  animation: float 16s linear infinite 53s,wiggle 15.4s ease-in-out infinite 0ms;
  -o-animation: float 16s linear infinite 53s,wiggle 15.4s ease-in-out infinite 0ms;
  -moz-animation: float 16s linear infinite 53s,wiggle 15.4s ease-in-out infinite 0ms;
  -webkit-animation: float 16s linear infinite 53s,wiggle 15.4s ease-in-out infinite 0ms;
}
.particle:nth-child(3) {
  animation: float 27s linear infinite 3s,wiggle 19.8s ease-in-out infinite 0ms;
  -o-animation: float 27s linear infinite 3s,wiggle 19.8s ease-in-out infinite 0ms;
  -moz-animation: float 27s linear infinite 3s,wiggle 19.8s ease-in-out infinite 0ms;
  -webkit-animation: float 27s linear infinite 3s,wiggle 19.8s ease-in-out infinite 0ms;
}
.particle:nth-child(4) {
  animation: float 27s linear infinite 30s,wiggle 19.8s ease-in-out infinite 0ms;
  -o-animation: float 27s linear infinite 30s,wiggle 19.8s ease-in-out infinite 0ms;
  -moz-animation: float 27s linear infinite 30s,wiggle 19.8s ease-in-out infinite 0ms;
  -webkit-animation: float 27s linear infinite 30s,wiggle 19.8s ease-in-out infinite 0ms;
}
.particle:nth-child(5) {
  animation: float 26s linear infinite 52s,wiggle 19.4s ease-in-out infinite 0ms;
  -o-animation: float 26s linear infinite 52s,wiggle 19.4s ease-in-out infinite 0ms;
  -moz-animation: float 26s linear infinite 52s,wiggle 19.4s ease-in-out infinite 0ms;
  -webkit-animation: float 26s linear infinite 52s,wiggle 19.4s ease-in-out infinite 0ms;
}
.particle:nth-child(6) {
  animation: float 21s linear infinite 14s,wiggle 17.4s ease-in-out infinite 0ms;
  -o-animation: float 21s linear infinite 14s,wiggle 17.4s ease-in-out infinite 0ms;
  -moz-animation: float 21s linear infinite 14s,wiggle 17.4s ease-in-out infinite 0ms;
  -webkit-animation: float 21s linear infinite 14s,wiggle 17.4s ease-in-out infinite 0ms;
}
.particle:nth-child(7) {
  animation: float 30s linear infinite 9s,wiggle 21s ease-in-out infinite 0ms;
  -o-animation: float 30s linear infinite 9s,wiggle 21s ease-in-out infinite 0ms;
  -moz-animation: float 30s linear infinite 9s,wiggle 21s ease-in-out infinite 0ms;
  -webkit-animation: float 30s linear infinite 9s,wiggle 21s ease-in-out infinite 0ms;
}
.particle:nth-child(8) {
  animation: float 26s linear infinite 55s,wiggle 19.4s ease-in-out infinite 0ms;
  -o-animation: float 26s linear infinite 55s,wiggle 19.4s ease-in-out infinite 0ms;
  -moz-animation: float 26s linear infinite 55s,wiggle 19.4s ease-in-out infinite 0ms;
  -webkit-animation: float 26s linear infinite 55s,wiggle 19.4s ease-in-out infinite 0ms;
}
.particle:nth-child(9) {
  animation: float 18s linear infinite 37s,wiggle 16.2s ease-in-out infinite 0ms;
  -o-animation: float 18s linear infinite 37s,wiggle 16.2s ease-in-out infinite 0ms;
  -moz-animation: float 18s linear infinite 37s,wiggle 16.2s ease-in-out infinite 0ms;
  -webkit-animation: float 18s linear infinite 37s,wiggle 16.2s ease-in-out infinite 0ms;
}
.particle:nth-child(10) {
  animation: float 27s linear infinite 50s,wiggle 19.8s ease-in-out infinite 0ms;
  -o-animation: float 27s linear infinite 50s,wiggle 19.8s ease-in-out infinite 0ms;
  -moz-animation: float 27s linear infinite 50s,wiggle 19.8s ease-in-out infinite 0ms;
  -webkit-animation: float 27s linear infinite 50s,wiggle 19.8s ease-in-out infinite 0ms;
}
.particle:nth-child(11) {
  animation: float 19s linear infinite 25s,wiggle 16.6s ease-in-out infinite 0ms;
  -o-animation: float 19s linear infinite 25s,wiggle 16.6s ease-in-out infinite 0ms;
  -moz-animation: float 19s linear infinite 25s,wiggle 16.6s ease-in-out infinite 0ms;
  -webkit-animation: float 19s linear infinite 25s,wiggle 16.6s ease-in-out infinite 0ms;
}
.particle:nth-child(12) {
  animation: float 21s linear infinite 28s,wiggle 17.4s ease-in-out infinite 0ms;
  -o-animation: float 21s linear infinite 28s,wiggle 17.4s ease-in-out infinite 0ms;
  -moz-animation: float 21s linear infinite 28s,wiggle 17.4s ease-in-out infinite 0ms;
  -webkit-animation: float 21s linear infinite 28s,wiggle 17.4s ease-in-out infinite 0ms;
}
.particle:nth-child(13) {
  animation: float 18s linear infinite 36s,wiggle 16.2s ease-in-out infinite 0ms;
  -o-animation: float 18s linear infinite 36s,wiggle 16.2s ease-in-out infinite 0ms;
  -moz-animation: float 18s linear infinite 36s,wiggle 16.2s ease-in-out infinite 0ms;
  -webkit-animation: float 18s linear infinite 36s,wiggle 16.2s ease-in-out infinite 0ms;
}
.particle:nth-child(14) {
  animation: float 26s linear infinite 34s,wiggle 19.4s ease-in-out infinite 0ms;
  -o-animation: float 26s linear infinite 34s,wiggle 19.4s ease-in-out infinite 0ms;
  -moz-animation: float 26s linear infinite 34s,wiggle 19.4s ease-in-out infinite 0ms;
  -webkit-animation: float 26s linear infinite 34s,wiggle 19.4s ease-in-out infinite 0ms;
}
.particle:nth-child(15) {
  animation: float 22s linear infinite 15s,wiggle 17.8s ease-in-out infinite 0ms;
  -o-animation: float 22s linear infinite 15s,wiggle 17.8s ease-in-out infinite 0ms;
  -moz-animation: float 22s linear infinite 15s,wiggle 17.8s ease-in-out infinite 0ms;
  -webkit-animation: float 22s linear infinite 15s,wiggle 17.8s ease-in-out infinite 0ms;
}
.particle:nth-child(16) {
  animation: float 17s linear infinite 55s,wiggle 15.8s ease-in-out infinite 0ms;
  -o-animation: float 17s linear infinite 55s,wiggle 15.8s ease-in-out infinite 0ms;
  -moz-animation: float 17s linear infinite 55s,wiggle 15.8s ease-in-out infinite 0ms;
  -webkit-animation: float 17s linear infinite 55s,wiggle 15.8s ease-in-out infinite 0ms;
}
.particle:nth-child(17) {
  animation: float 24s linear infinite 37s,wiggle 18.6s ease-in-out infinite 0ms;
  -o-animation: float 24s linear infinite 37s,wiggle 18.6s ease-in-out infinite 0ms;
  -moz-animation: float 24s linear infinite 37s,wiggle 18.6s ease-in-out infinite 0ms;
  -webkit-animation: float 24s linear infinite 37s,wiggle 18.6s ease-in-out infinite 0ms;
}
.particle:nth-child(18) {
  animation: float 26s linear infinite 47s,wiggle 19.4s ease-in-out infinite 0ms;
  -o-animation: float 26s linear infinite 47s,wiggle 19.4s ease-in-out infinite 0ms;
  -moz-animation: float 26s linear infinite 47s,wiggle 19.4s ease-in-out infinite 0ms;
  -webkit-animation: float 26s linear infinite 47s,wiggle 19.4s ease-in-out infinite 0ms;
}
.particle:nth-child(19) {
  animation: float 16s linear infinite 52s,wiggle 15.4s ease-in-out infinite 0ms;
  -o-animation: float 16s linear infinite 52s,wiggle 15.4s ease-in-out infinite 0ms;
  -moz-animation: float 16s linear infinite 52s,wiggle 15.4s ease-in-out infinite 0ms;
  -webkit-animation: float 16s linear infinite 52s,wiggle 15.4s ease-in-out infinite 0ms;
}
.particle:nth-child(20) {
  animation: float 28s linear infinite 23s,wiggle 20.2s ease-in-out infinite 0ms;
  -o-animation: float 28s linear infinite 23s,wiggle 20.2s ease-in-out infinite 0ms;
  -moz-animation: float 28s linear infinite 23s,wiggle 20.2s ease-in-out infinite 0ms;
  -webkit-animation: float 28s linear infinite 23s,wiggle 20.2s ease-in-out infinite 0ms;
}
.particle:nth-child(21) {
  animation: float 28s linear infinite 17s,wiggle 20.2s ease-in-out infinite 0ms;
  -o-animation: float 28s linear infinite 17s,wiggle 20.2s ease-in-out infinite 0ms;
  -moz-animation: float 28s linear infinite 17s,wiggle 20.2s ease-in-out infinite 0ms;
  -webkit-animation: float 28s linear infinite 17s,wiggle 20.2s ease-in-out infinite 0ms;
}
.particle:nth-child(22) {
  animation: float 19s linear infinite 12s,wiggle 16.6s ease-in-out infinite 0ms;
  -o-animation: float 19s linear infinite 12s,wiggle 16.6s ease-in-out infinite 0ms;
  -moz-animation: float 19s linear infinite 12s,wiggle 16.6s ease-in-out infinite 0ms;
  -webkit-animation: float 19s linear infinite 12s,wiggle 16.6s ease-in-out infinite 0ms;
}
.particle:nth-child(23) {
  animation: float 21s linear infinite 35s,wiggle 17.4s ease-in-out infinite 0ms;
  -o-animation: float 21s linear infinite 35s,wiggle 17.4s ease-in-out infinite 0ms;
  -moz-animation: float 21s linear infinite 35s,wiggle 17.4s ease-in-out infinite 0ms;
  -webkit-animation: float 21s linear infinite 35s,wiggle 17.4s ease-in-out infinite 0ms;
}
.particle:nth-child(24) {
  animation: float 16s linear infinite 2s,wiggle 15.4s ease-in-out infinite 0ms;
  -o-animation: float 16s linear infinite 2s,wiggle 15.4s ease-in-out infinite 0ms;
  -moz-animation: float 16s linear infinite 2s,wiggle 15.4s ease-in-out infinite 0ms;
  -webkit-animation: float 16s linear infinite 2s,wiggle 15.4s ease-in-out infinite 0ms;
}
.particle:nth-child(25) {
  animation: float 20s linear infinite 52s,wiggle 17s ease-in-out infinite 0ms;
  -o-animation: float 20s linear infinite 52s,wiggle 17s ease-in-out infinite 0ms;
  -moz-animation: float 20s linear infinite 52s,wiggle 17s ease-in-out infinite 0ms;
  -webkit-animation: float 20s linear infinite 52s,wiggle 17s ease-in-out infinite 0ms;
}
.particle:nth-child(26) {
  animation: float 16s linear infinite 22s,wiggle 15.4s ease-in-out infinite 0ms;
  -o-animation: float 16s linear infinite 22s,wiggle 15.4s ease-in-out infinite 0ms;
  -moz-animation: float 16s linear infinite 22s,wiggle 15.4s ease-in-out infinite 0ms;
  -webkit-animation: float 16s linear infinite 22s,wiggle 15.4s ease-in-out infinite 0ms;
}
.particle:nth-child(27) {
  animation: float 17s linear infinite 60s,wiggle 15.8s ease-in-out infinite 0ms;
  -o-animation: float 17s linear infinite 60s,wiggle 15.8s ease-in-out infinite 0ms;
  -moz-animation: float 17s linear infinite 60s,wiggle 15.8s ease-in-out infinite 0ms;
  -webkit-animation: float 17s linear infinite 60s,wiggle 15.8s ease-in-out infinite 0ms;
}
.particle:nth-child(28) {
  animation: float 30s linear infinite 7s,wiggle 21s ease-in-out infinite 0ms;
  -o-animation: float 30s linear infinite 7s,wiggle 21s ease-in-out infinite 0ms;
  -moz-animation: float 30s linear infinite 7s,wiggle 21s ease-in-out infinite 0ms;
  -webkit-animation: float 30s linear infinite 7s,wiggle 21s ease-in-out infinite 0ms;
}
.particle:nth-child(29) {
  animation: float 30s linear infinite 44s,wiggle 21s ease-in-out infinite 0ms;
  -o-animation: float 30s linear infinite 44s,wiggle 21s ease-in-out infinite 0ms;
  -moz-animation: float 30s linear infinite 44s,wiggle 21s ease-in-out infinite 0ms;
  -webkit-animation: float 30s linear infinite 44s,wiggle 21s ease-in-out infinite 0ms;
}
.particle:nth-child(30) {
  animation: float 24s linear infinite 8s,wiggle 18.6s ease-in-out infinite 0ms;
  -o-animation: float 24s linear infinite 8s,wiggle 18.6s ease-in-out infinite 0ms;
  -moz-animation: float 24s linear infinite 8s,wiggle 18.6s ease-in-out infinite 0ms;
  -webkit-animation: float 24s linear infinite 8s,wiggle 18.6s ease-in-out infinite 0ms;
}
.particle:nth-child(31) {
  animation: float 18s linear infinite 16s,wiggle 16.2s ease-in-out infinite 0ms;
  -o-animation: float 18s linear infinite 16s,wiggle 16.2s ease-in-out infinite 0ms;
  -moz-animation: float 18s linear infinite 16s,wiggle 16.2s ease-in-out infinite 0ms;
  -webkit-animation: float 18s linear infinite 16s,wiggle 16.2s ease-in-out infinite 0ms;
}
.particle:nth-child(32) {
  animation: float 17s linear infinite 7s,wiggle 15.8s ease-in-out infinite 0ms;
  -o-animation: float 17s linear infinite 7s,wiggle 15.8s ease-in-out infinite 0ms;
  -moz-animation: float 17s linear infinite 7s,wiggle 15.8s ease-in-out infinite 0ms;
  -webkit-animation: float 17s linear infinite 7s,wiggle 15.8s ease-in-out infinite 0ms;
}
.particle:nth-child(33) {
  animation: float 24s linear infinite 23s,wiggle 18.6s ease-in-out infinite 0ms;
  -o-animation: float 24s linear infinite 23s,wiggle 18.6s ease-in-out infinite 0ms;
  -moz-animation: float 24s linear infinite 23s,wiggle 18.6s ease-in-out infinite 0ms;
  -webkit-animation: float 24s linear infinite 23s,wiggle 18.6s ease-in-out infinite 0ms;
}
.particle:nth-child(34) {
  animation: float 30s linear infinite 36s,wiggle 21s ease-in-out infinite 0ms;
  -o-animation: float 30s linear infinite 36s,wiggle 21s ease-in-out infinite 0ms;
  -moz-animation: float 30s linear infinite 36s,wiggle 21s ease-in-out infinite 0ms;
  -webkit-animation: float 30s linear infinite 36s,wiggle 21s ease-in-out infinite 0ms;
}
.particle:nth-child(35) {
  animation: float 26s linear infinite 25s,wiggle 19.4s ease-in-out infinite 0ms;
  -o-animation: float 26s linear infinite 25s,wiggle 19.4s ease-in-out infinite 0ms;
  -moz-animation: float 26s linear infinite 25s,wiggle 19.4s ease-in-out infinite 0ms;
  -webkit-animation: float 26s linear infinite 25s,wiggle 19.4s ease-in-out infinite 0ms;
}
.particle:nth-child(36) {
  animation: float 27s linear infinite 22s,wiggle 19.8s ease-in-out infinite 0ms;
  -o-animation: float 27s linear infinite 22s,wiggle 19.8s ease-in-out infinite 0ms;
  -moz-animation: float 27s linear infinite 22s,wiggle 19.8s ease-in-out infinite 0ms;
  -webkit-animation: float 27s linear infinite 22s,wiggle 19.8s ease-in-out infinite 0ms;
}
.particle:nth-child(37) {
  animation: float 23s linear infinite 7s,wiggle 18.2s ease-in-out infinite 0ms;
  -o-animation: float 23s linear infinite 7s,wiggle 18.2s ease-in-out infinite 0ms;
  -moz-animation: float 23s linear infinite 7s,wiggle 18.2s ease-in-out infinite 0ms;
  -webkit-animation: float 23s linear infinite 7s,wiggle 18.2s ease-in-out infinite 0ms;
}
.particle:nth-child(38) {
  animation: float 27s linear infinite 55s,wiggle 19.8s ease-in-out infinite 0ms;
  -o-animation: float 27s linear infinite 55s,wiggle 19.8s ease-in-out infinite 0ms;
  -moz-animation: float 27s linear infinite 55s,wiggle 19.8s ease-in-out infinite 0ms;
  -webkit-animation: float 27s linear infinite 55s,wiggle 19.8s ease-in-out infinite 0ms;
}
.particle:nth-child(39) {
  animation: float 25s linear infinite 33s,wiggle 19s ease-in-out infinite 0ms;
  -o-animation: float 25s linear infinite 33s,wiggle 19s ease-in-out infinite 0ms;
  -moz-animation: float 25s linear infinite 33s,wiggle 19s ease-in-out infinite 0ms;
  -webkit-animation: float 25s linear infinite 33s,wiggle 19s ease-in-out infinite 0ms;
}
.particle:nth-child(40) {
  animation: float 27s linear infinite 35s,wiggle 19.8s ease-in-out infinite 0ms;
  -o-animation: float 27s linear infinite 35s,wiggle 19.8s ease-in-out infinite 0ms;
  -moz-animation: float 27s linear infinite 35s,wiggle 19.8s ease-in-out infinite 0ms;
  -webkit-animation: float 27s linear infinite 35s,wiggle 19.8s ease-in-out infinite 0ms;
}
.particle:nth-child(41) {
  animation: float 20s linear infinite 25s,wiggle 17s ease-in-out infinite 0ms;
  -o-animation: float 20s linear infinite 25s,wiggle 17s ease-in-out infinite 0ms;
  -moz-animation: float 20s linear infinite 25s,wiggle 17s ease-in-out infinite 0ms;
  -webkit-animation: float 20s linear infinite 25s,wiggle 17s ease-in-out infinite 0ms;
}
.particle:nth-child(42) {
  animation: float 24s linear infinite 35s,wiggle 18.6s ease-in-out infinite 0ms;
  -o-animation: float 24s linear infinite 35s,wiggle 18.6s ease-in-out infinite 0ms;
  -moz-animation: float 24s linear infinite 35s,wiggle 18.6s ease-in-out infinite 0ms;
  -webkit-animation: float 24s linear infinite 35s,wiggle 18.6s ease-in-out infinite 0ms;
}
.particle:nth-child(43) {
  animation: float 20s linear infinite 44s,wiggle 17s ease-in-out infinite 0ms;
  -o-animation: float 20s linear infinite 44s,wiggle 17s ease-in-out infinite 0ms;
  -moz-animation: float 20s linear infinite 44s,wiggle 17s ease-in-out infinite 0ms;
  -webkit-animation: float 20s linear infinite 44s,wiggle 17s ease-in-out infinite 0ms;
}
.particle:nth-child(44) {
  animation: float 26s linear infinite 12s,wiggle 19.4s ease-in-out infinite 0ms;
  -o-animation: float 26s linear infinite 12s,wiggle 19.4s ease-in-out infinite 0ms;
  -moz-animation: float 26s linear infinite 12s,wiggle 19.4s ease-in-out infinite 0ms;
  -webkit-animation: float 26s linear infinite 12s,wiggle 19.4s ease-in-out infinite 0ms;
}
.particle:nth-child(45) {
  animation: float 19s linear infinite 56s,wiggle 16.6s ease-in-out infinite 0ms;
  -o-animation: float 19s linear infinite 56s,wiggle 16.6s ease-in-out infinite 0ms;
  -moz-animation: float 19s linear infinite 56s,wiggle 16.6s ease-in-out infinite 0ms;
  -webkit-animation: float 19s linear infinite 56s,wiggle 16.6s ease-in-out infinite 0ms;
}
.particle:nth-child(46) {
  animation: float 24s linear infinite 52s,wiggle 18.6s ease-in-out infinite 0ms;
  -o-animation: float 24s linear infinite 52s,wiggle 18.6s ease-in-out infinite 0ms;
  -moz-animation: float 24s linear infinite 52s,wiggle 18.6s ease-in-out infinite 0ms;
  -webkit-animation: float 24s linear infinite 52s,wiggle 18.6s ease-in-out infinite 0ms;
}
.particle:nth-child(47) {
  animation: float 24s linear infinite 44s,wiggle 18.6s ease-in-out infinite 0ms;
  -o-animation: float 24s linear infinite 44s,wiggle 18.6s ease-in-out infinite 0ms;
  -moz-animation: float 24s linear infinite 44s,wiggle 18.6s ease-in-out infinite 0ms;
  -webkit-animation: float 24s linear infinite 44s,wiggle 18.6s ease-in-out infinite 0ms;
}
.particle:nth-child(48) {
  animation: float 28s linear infinite 59s,wiggle 20.2s ease-in-out infinite 0ms;
  -o-animation: float 28s linear infinite 59s,wiggle 20.2s ease-in-out infinite 0ms;
  -moz-animation: float 28s linear infinite 59s,wiggle 20.2s ease-in-out infinite 0ms;
  -webkit-animation: float 28s linear infinite 59s,wiggle 20.2s ease-in-out infinite 0ms;
}
.particle:nth-child(49) {
  animation: float 22s linear infinite 50s,wiggle 17.8s ease-in-out infinite 0ms;
  -o-animation: float 22s linear infinite 50s,wiggle 17.8s ease-in-out infinite 0ms;
  -moz-animation: float 22s linear infinite 50s,wiggle 17.8s ease-in-out infinite 0ms;
  -webkit-animation: float 22s linear infinite 50s,wiggle 17.8s ease-in-out infinite 0ms;
}
.particle:nth-child(50) {
  animation: float 16s linear infinite 21s,wiggle 15.4s ease-in-out infinite 0ms;
  -o-animation: float 16s linear infinite 21s,wiggle 15.4s ease-in-out infinite 0ms;
  -moz-animation: float 16s linear infinite 21s,wiggle 15.4s ease-in-out infinite 0ms;
  -webkit-animation: float 16s linear infinite 21s,wiggle 15.4s ease-in-out infinite 0ms;
}
.particle:nth-child(51) {
  animation: float 22s linear infinite 45s,wiggle 17.8s ease-in-out infinite 0ms;
  -o-animation: float 22s linear infinite 45s,wiggle 17.8s ease-in-out infinite 0ms;
  -moz-animation: float 22s linear infinite 45s,wiggle 17.8s ease-in-out infinite 0ms;
  -webkit-animation: float 22s linear infinite 45s,wiggle 17.8s ease-in-out infinite 0ms;
}
.particle:nth-child(52) {
  animation: float 19s linear infinite 44s,wiggle 16.6s ease-in-out infinite 0ms;
  -o-animation: float 19s linear infinite 44s,wiggle 16.6s ease-in-out infinite 0ms;
  -moz-animation: float 19s linear infinite 44s,wiggle 16.6s ease-in-out infinite 0ms;
  -webkit-animation: float 19s linear infinite 44s,wiggle 16.6s ease-in-out infinite 0ms;
}
.particle:nth-child(53) {
  animation: float 26s linear infinite 24s,wiggle 19.4s ease-in-out infinite 0ms;
  -o-animation: float 26s linear infinite 24s,wiggle 19.4s ease-in-out infinite 0ms;
  -moz-animation: float 26s linear infinite 24s,wiggle 19.4s ease-in-out infinite 0ms;
  -webkit-animation: float 26s linear infinite 24s,wiggle 19.4s ease-in-out infinite 0ms;
}
.particle:nth-child(54) {
  animation: float 26s linear infinite 25s,wiggle 19.4s ease-in-out infinite 0ms;
  -o-animation: float 26s linear infinite 25s,wiggle 19.4s ease-in-out infinite 0ms;
  -moz-animation: float 26s linear infinite 25s,wiggle 19.4s ease-in-out infinite 0ms;
  -webkit-animation: float 26s linear infinite 25s,wiggle 19.4s ease-in-out infinite 0ms;
}
.particle:nth-child(55) {
  animation: float 29s linear infinite 4s,wiggle 20.6s ease-in-out infinite 0ms;
  -o-animation: float 29s linear infinite 4s,wiggle 20.6s ease-in-out infinite 0ms;
  -moz-animation: float 29s linear infinite 4s,wiggle 20.6s ease-in-out infinite 0ms;
  -webkit-animation: float 29s linear infinite 4s,wiggle 20.6s ease-in-out infinite 0ms;
}
.particle:nth-child(56) {
  animation: float 18s linear infinite 4s,wiggle 16.2s ease-in-out infinite 0ms;
  -o-animation: float 18s linear infinite 4s,wiggle 16.2s ease-in-out infinite 0ms;
  -moz-animation: float 18s linear infinite 4s,wiggle 16.2s ease-in-out infinite 0ms;
  -webkit-animation: float 18s linear infinite 4s,wiggle 16.2s ease-in-out infinite 0ms;
}
.particle:nth-child(57) {
  animation: float 17s linear infinite 51s,wiggle 15.8s ease-in-out infinite 0ms;
  -o-animation: float 17s linear infinite 51s,wiggle 15.8s ease-in-out infinite 0ms;
  -moz-animation: float 17s linear infinite 51s,wiggle 15.8s ease-in-out infinite 0ms;
  -webkit-animation: float 17s linear infinite 51s,wiggle 15.8s ease-in-out infinite 0ms;
}
.particle:nth-child(58) {
  animation: float 22s linear infinite 49s,wiggle 17.8s ease-in-out infinite 0ms;
  -o-animation: float 22s linear infinite 49s,wiggle 17.8s ease-in-out infinite 0ms;
  -moz-animation: float 22s linear infinite 49s,wiggle 17.8s ease-in-out infinite 0ms;
  -webkit-animation: float 22s linear infinite 49s,wiggle 17.8s ease-in-out infinite 0ms;
}
.particle:nth-child(59) {
  animation: float 23s linear infinite 11s,wiggle 18.2s ease-in-out infinite 0ms;
  -o-animation: float 23s linear infinite 11s,wiggle 18.2s ease-in-out infinite 0ms;
  -moz-animation: float 23s linear infinite 11s,wiggle 18.2s ease-in-out infinite 0ms;
  -webkit-animation: float 23s linear infinite 11s,wiggle 18.2s ease-in-out infinite 0ms;
}
.particle:nth-child(60) {
  animation: float 24s linear infinite 20s,wiggle 18.6s ease-in-out infinite 0ms;
  -o-animation: float 24s linear infinite 20s,wiggle 18.6s ease-in-out infinite 0ms;
  -moz-animation: float 24s linear infinite 20s,wiggle 18.6s ease-in-out infinite 0ms;
  -webkit-animation: float 24s linear infinite 20s,wiggle 18.6s ease-in-out infinite 0ms;
}
.particle:nth-child(61) {
  animation: float 18s linear infinite 53s,wiggle 16.2s ease-in-out infinite 0ms;
  -o-animation: float 18s linear infinite 53s,wiggle 16.2s ease-in-out infinite 0ms;
  -moz-animation: float 18s linear infinite 53s,wiggle 16.2s ease-in-out infinite 0ms;
  -webkit-animation: float 18s linear infinite 53s,wiggle 16.2s ease-in-out infinite 0ms;
}
.particle:nth-child(62) {
  animation: float 18s linear infinite 59s,wiggle 16.2s ease-in-out infinite 0ms;
  -o-animation: float 18s linear infinite 59s,wiggle 16.2s ease-in-out infinite 0ms;
  -moz-animation: float 18s linear infinite 59s,wiggle 16.2s ease-in-out infinite 0ms;
  -webkit-animation: float 18s linear infinite 59s,wiggle 16.2s ease-in-out infinite 0ms;
}
.particle:nth-child(63) {
  animation: float 26s linear infinite 34s,wiggle 19.4s ease-in-out infinite 0ms;
  -o-animation: float 26s linear infinite 34s,wiggle 19.4s ease-in-out infinite 0ms;
  -moz-animation: float 26s linear infinite 34s,wiggle 19.4s ease-in-out infinite 0ms;
  -webkit-animation: float 26s linear infinite 34s,wiggle 19.4s ease-in-out infinite 0ms;
}
.particle:nth-child(64) {
  animation: float 19s linear infinite 3s,wiggle 16.6s ease-in-out infinite 0ms;
  -o-animation: float 19s linear infinite 3s,wiggle 16.6s ease-in-out infinite 0ms;
  -moz-animation: float 19s linear infinite 3s,wiggle 16.6s ease-in-out infinite 0ms;
  -webkit-animation: float 19s linear infinite 3s,wiggle 16.6s ease-in-out infinite 0ms;
}
.particle:nth-child(65) {
  animation: float 25s linear infinite 58s,wiggle 19s ease-in-out infinite 0ms;
  -o-animation: float 25s linear infinite 58s,wiggle 19s ease-in-out infinite 0ms;
  -moz-animation: float 25s linear infinite 58s,wiggle 19s ease-in-out infinite 0ms;
  -webkit-animation: float 25s linear infinite 58s,wiggle 19s ease-in-out infinite 0ms;
}
.particle:nth-child(66) {
  animation: float 24s linear infinite 14s,wiggle 18.6s ease-in-out infinite 0ms;
  -o-animation: float 24s linear infinite 14s,wiggle 18.6s ease-in-out infinite 0ms;
  -moz-animation: float 24s linear infinite 14s,wiggle 18.6s ease-in-out infinite 0ms;
  -webkit-animation: float 24s linear infinite 14s,wiggle 18.6s ease-in-out infinite 0ms;
}
.particle:nth-child(67) {
  animation: float 24s linear infinite 50s,wiggle 18.6s ease-in-out infinite 0ms;
  -o-animation: float 24s linear infinite 50s,wiggle 18.6s ease-in-out infinite 0ms;
  -moz-animation: float 24s linear infinite 50s,wiggle 18.6s ease-in-out infinite 0ms;
  -webkit-animation: float 24s linear infinite 50s,wiggle 18.6s ease-in-out infinite 0ms;
}
.particle:nth-child(68) {
  animation: float 21s linear infinite 27s,wiggle 17.4s ease-in-out infinite 0ms;
  -o-animation: float 21s linear infinite 27s,wiggle 17.4s ease-in-out infinite 0ms;
  -moz-animation: float 21s linear infinite 27s,wiggle 17.4s ease-in-out infinite 0ms;
  -webkit-animation: float 21s linear infinite 27s,wiggle 17.4s ease-in-out infinite 0ms;
}
.particle:nth-child(69) {
  animation: float 26s linear infinite 23s,wiggle 19.4s ease-in-out infinite 0ms;
  -o-animation: float 26s linear infinite 23s,wiggle 19.4s ease-in-out infinite 0ms;
  -moz-animation: float 26s linear infinite 23s,wiggle 19.4s ease-in-out infinite 0ms;
  -webkit-animation: float 26s linear infinite 23s,wiggle 19.4s ease-in-out infinite 0ms;
}
.particle:nth-child(70) {
  animation: float 21s linear infinite 59s,wiggle 17.4s ease-in-out infinite 0ms;
  -o-animation: float 21s linear infinite 59s,wiggle 17.4s ease-in-out infinite 0ms;
  -moz-animation: float 21s linear infinite 59s,wiggle 17.4s ease-in-out infinite 0ms;
  -webkit-animation: float 21s linear infinite 59s,wiggle 17.4s ease-in-out infinite 0ms;
}
.particle:nth-child(71) {
  animation: float 25s linear infinite 17s,wiggle 19s ease-in-out infinite 0ms;
  -o-animation: float 25s linear infinite 17s,wiggle 19s ease-in-out infinite 0ms;
  -moz-animation: float 25s linear infinite 17s,wiggle 19s ease-in-out infinite 0ms;
  -webkit-animation: float 25s linear infinite 17s,wiggle 19s ease-in-out infinite 0ms;
}
.particle:nth-child(72) {
  animation: float 17s linear infinite 14s,wiggle 15.8s ease-in-out infinite 0ms;
  -o-animation: float 17s linear infinite 14s,wiggle 15.8s ease-in-out infinite 0ms;
  -moz-animation: float 17s linear infinite 14s,wiggle 15.8s ease-in-out infinite 0ms;
  -webkit-animation: float 17s linear infinite 14s,wiggle 15.8s ease-in-out infinite 0ms;
}
.particle:nth-child(73) {
  animation: float 20s linear infinite 33s,wiggle 17s ease-in-out infinite 0ms;
  -o-animation: float 20s linear infinite 33s,wiggle 17s ease-in-out infinite 0ms;
  -moz-animation: float 20s linear infinite 33s,wiggle 17s ease-in-out infinite 0ms;
  -webkit-animation: float 20s linear infinite 33s,wiggle 17s ease-in-out infinite 0ms;
}
.particle:nth-child(74) {
  animation: float 22s linear infinite 21s,wiggle 17.8s ease-in-out infinite 0ms;
  -o-animation: float 22s linear infinite 21s,wiggle 17.8s ease-in-out infinite 0ms;
  -moz-animation: float 22s linear infinite 21s,wiggle 17.8s ease-in-out infinite 0ms;
  -webkit-animation: float 22s linear infinite 21s,wiggle 17.8s ease-in-out infinite 0ms;
}
.particle:nth-child(75) {
  animation: float 27s linear infinite 25s,wiggle 19.8s ease-in-out infinite 0ms;
  -o-animation: float 27s linear infinite 25s,wiggle 19.8s ease-in-out infinite 0ms;
  -moz-animation: float 27s linear infinite 25s,wiggle 19.8s ease-in-out infinite 0ms;
  -webkit-animation: float 27s linear infinite 25s,wiggle 19.8s ease-in-out infinite 0ms;
}
.particle:nth-child(76) {
  animation: float 26s linear infinite 55s,wiggle 19.4s ease-in-out infinite 0ms;
  -o-animation: float 26s linear infinite 55s,wiggle 19.4s ease-in-out infinite 0ms;
  -moz-animation: float 26s linear infinite 55s,wiggle 19.4s ease-in-out infinite 0ms;
  -webkit-animation: float 26s linear infinite 55s,wiggle 19.4s ease-in-out infinite 0ms;
}
.particle:nth-child(77) {
  animation: float 20s linear infinite 56s,wiggle 17s ease-in-out infinite 0ms;
  -o-animation: float 20s linear infinite 56s,wiggle 17s ease-in-out infinite 0ms;
  -moz-animation: float 20s linear infinite 56s,wiggle 17s ease-in-out infinite 0ms;
  -webkit-animation: float 20s linear infinite 56s,wiggle 17s ease-in-out infinite 0ms;
}
.particle:nth-child(78) {
  animation: float 19s linear infinite 28s,wiggle 16.6s ease-in-out infinite 0ms;
  -o-animation: float 19s linear infinite 28s,wiggle 16.6s ease-in-out infinite 0ms;
  -moz-animation: float 19s linear infinite 28s,wiggle 16.6s ease-in-out infinite 0ms;
  -webkit-animation: float 19s linear infinite 28s,wiggle 16.6s ease-in-out infinite 0ms;
}
.particle:nth-child(79) {
  animation: float 18s linear infinite 3s,wiggle 16.2s ease-in-out infinite 0ms;
  -o-animation: float 18s linear infinite 3s,wiggle 16.2s ease-in-out infinite 0ms;
  -moz-animation: float 18s linear infinite 3s,wiggle 16.2s ease-in-out infinite 0ms;
  -webkit-animation: float 18s linear infinite 3s,wiggle 16.2s ease-in-out infinite 0ms;
}
.particle:nth-child(80) {
  animation: float 17s linear infinite 10s,wiggle 15.8s ease-in-out infinite 0ms;
  -o-animation: float 17s linear infinite 10s,wiggle 15.8s ease-in-out infinite 0ms;
  -moz-animation: float 17s linear infinite 10s,wiggle 15.8s ease-in-out infinite 0ms;
  -webkit-animation: float 17s linear infinite 10s,wiggle 15.8s ease-in-out infinite 0ms;
}
.particle:nth-child(81) {
  animation: float 19s linear infinite 33s,wiggle 16.6s ease-in-out infinite 0ms;
  -o-animation: float 19s linear infinite 33s,wiggle 16.6s ease-in-out infinite 0ms;
  -moz-animation: float 19s linear infinite 33s,wiggle 16.6s ease-in-out infinite 0ms;
  -webkit-animation: float 19s linear infinite 33s,wiggle 16.6s ease-in-out infinite 0ms;
}
.particle:nth-child(82) {
  animation: float 21s linear infinite 55s,wiggle 17.4s ease-in-out infinite 0ms;
  -o-animation: float 21s linear infinite 55s,wiggle 17.4s ease-in-out infinite 0ms;
  -moz-animation: float 21s linear infinite 55s,wiggle 17.4s ease-in-out infinite 0ms;
  -webkit-animation: float 21s linear infinite 55s,wiggle 17.4s ease-in-out infinite 0ms;
}
.particle:nth-child(83) {
  animation: float 28s linear infinite 37s,wiggle 20.2s ease-in-out infinite 0ms;
  -o-animation: float 28s linear infinite 37s,wiggle 20.2s ease-in-out infinite 0ms;
  -moz-animation: float 28s linear infinite 37s,wiggle 20.2s ease-in-out infinite 0ms;
  -webkit-animation: float 28s linear infinite 37s,wiggle 20.2s ease-in-out infinite 0ms;
}
.particle:nth-child(84) {
  animation: float 30s linear infinite 8s,wiggle 21s ease-in-out infinite 0ms;
  -o-animation: float 30s linear infinite 8s,wiggle 21s ease-in-out infinite 0ms;
  -moz-animation: float 30s linear infinite 8s,wiggle 21s ease-in-out infinite 0ms;
  -webkit-animation: float 30s linear infinite 8s,wiggle 21s ease-in-out infinite 0ms;
}
.particle:nth-child(85) {
  animation: float 22s linear infinite 20s,wiggle 17.8s ease-in-out infinite 0ms;
  -o-animation: float 22s linear infinite 20s,wiggle 17.8s ease-in-out infinite 0ms;
  -moz-animation: float 22s linear infinite 20s,wiggle 17.8s ease-in-out infinite 0ms;
  -webkit-animation: float 22s linear infinite 20s,wiggle 17.8s ease-in-out infinite 0ms;
}
.particle:nth-child(86) {
  animation: float 24s linear infinite 35s,wiggle 18.6s ease-in-out infinite 0ms;
  -o-animation: float 24s linear infinite 35s,wiggle 18.6s ease-in-out infinite 0ms;
  -moz-animation: float 24s linear infinite 35s,wiggle 18.6s ease-in-out infinite 0ms;
  -webkit-animation: float 24s linear infinite 35s,wiggle 18.6s ease-in-out infinite 0ms;
}
.particle:nth-child(87) {
  animation: float 30s linear infinite 5s,wiggle 21s ease-in-out infinite 0ms;
  -o-animation: float 30s linear infinite 5s,wiggle 21s ease-in-out infinite 0ms;
  -moz-animation: float 30s linear infinite 5s,wiggle 21s ease-in-out infinite 0ms;
  -webkit-animation: float 30s linear infinite 5s,wiggle 21s ease-in-out infinite 0ms;
}
.particle:nth-child(88) {
  animation: float 18s linear infinite 32s,wiggle 16.2s ease-in-out infinite 0ms;
  -o-animation: float 18s linear infinite 32s,wiggle 16.2s ease-in-out infinite 0ms;
  -moz-animation: float 18s linear infinite 32s,wiggle 16.2s ease-in-out infinite 0ms;
  -webkit-animation: float 18s linear infinite 32s,wiggle 16.2s ease-in-out infinite 0ms;
}
.particle:nth-child(89) {
  animation: float 26s linear infinite 52s,wiggle 19.4s ease-in-out infinite 0ms;
  -o-animation: float 26s linear infinite 52s,wiggle 19.4s ease-in-out infinite 0ms;
  -moz-animation: float 26s linear infinite 52s,wiggle 19.4s ease-in-out infinite 0ms;
  -webkit-animation: float 26s linear infinite 52s,wiggle 19.4s ease-in-out infinite 0ms;
}
.particle:nth-child(90) {
  animation: float 29s linear infinite 16s,wiggle 20.6s ease-in-out infinite 0ms;
  -o-animation: float 29s linear infinite 16s,wiggle 20.6s ease-in-out infinite 0ms;
  -moz-animation: float 29s linear infinite 16s,wiggle 20.6s ease-in-out infinite 0ms;
  -webkit-animation: float 29s linear infinite 16s,wiggle 20.6s ease-in-out infinite 0ms;
}
.particle:nth-child(91) {
  animation: float 25s linear infinite 47s,wiggle 19s ease-in-out infinite 0ms;
  -o-animation: float 25s linear infinite 47s,wiggle 19s ease-in-out infinite 0ms;
  -moz-animation: float 25s linear infinite 47s,wiggle 19s ease-in-out infinite 0ms;
  -webkit-animation: float 25s linear infinite 47s,wiggle 19s ease-in-out infinite 0ms;
}
.particle:nth-child(92) {
  animation: float 17s linear infinite 51s,wiggle 15.8s ease-in-out infinite 0ms;
  -o-animation: float 17s linear infinite 51s,wiggle 15.8s ease-in-out infinite 0ms;
  -moz-animation: float 17s linear infinite 51s,wiggle 15.8s ease-in-out infinite 0ms;
  -webkit-animation: float 17s linear infinite 51s,wiggle 15.8s ease-in-out infinite 0ms;
}
.particle:nth-child(93) {
  animation: float 17s linear infinite 16s,wiggle 15.8s ease-in-out infinite 0ms;
  -o-animation: float 17s linear infinite 16s,wiggle 15.8s ease-in-out infinite 0ms;
  -moz-animation: float 17s linear infinite 16s,wiggle 15.8s ease-in-out infinite 0ms;
  -webkit-animation: float 17s linear infinite 16s,wiggle 15.8s ease-in-out infinite 0ms;
}
.particle:nth-child(94) {
  animation: float 19s linear infinite 21s,wiggle 16.6s ease-in-out infinite 0ms;
  -o-animation: float 19s linear infinite 21s,wiggle 16.6s ease-in-out infinite 0ms;
  -moz-animation: float 19s linear infinite 21s,wiggle 16.6s ease-in-out infinite 0ms;
  -webkit-animation: float 19s linear infinite 21s,wiggle 16.6s ease-in-out infinite 0ms;
}
.particle:nth-child(95) {
  animation: float 20s linear infinite 47s,wiggle 17s ease-in-out infinite 0ms;
  -o-animation: float 20s linear infinite 47s,wiggle 17s ease-in-out infinite 0ms;
  -moz-animation: float 20s linear infinite 47s,wiggle 17s ease-in-out infinite 0ms;
  -webkit-animation: float 20s linear infinite 47s,wiggle 17s ease-in-out infinite 0ms;
}
.particle:nth-child(96) {
  animation: float 20s linear infinite 44s,wiggle 17s ease-in-out infinite 0ms;
  -o-animation: float 20s linear infinite 44s,wiggle 17s ease-in-out infinite 0ms;
  -moz-animation: float 20s linear infinite 44s,wiggle 17s ease-in-out infinite 0ms;
  -webkit-animation: float 20s linear infinite 44s,wiggle 17s ease-in-out infinite 0ms;
}
.particle:nth-child(97) {
  animation: float 27s linear infinite 11s,wiggle 19.8s ease-in-out infinite 0ms;
  -o-animation: float 27s linear infinite 11s,wiggle 19.8s ease-in-out infinite 0ms;
  -moz-animation: float 27s linear infinite 11s,wiggle 19.8s ease-in-out infinite 0ms;
  -webkit-animation: float 27s linear infinite 11s,wiggle 19.8s ease-in-out infinite 0ms;
}
.particle:nth-child(98) {
  animation: float 19s linear infinite 9s,wiggle 16.6s ease-in-out infinite 0ms;
  -o-animation: float 19s linear infinite 9s,wiggle 16.6s ease-in-out infinite 0ms;
  -moz-animation: float 19s linear infinite 9s,wiggle 16.6s ease-in-out infinite 0ms;
  -webkit-animation: float 19s linear infinite 9s,wiggle 16.6s ease-in-out infinite 0ms;
}
.particle:nth-child(99) {
  animation: float 27s linear infinite 26s,wiggle 19.8s ease-in-out infinite 0ms;
  -o-animation: float 27s linear infinite 26s,wiggle 19.8s ease-in-out infinite 0ms;
  -moz-animation: float 27s linear infinite 26s,wiggle 19.8s ease-in-out infinite 0ms;
  -webkit-animation: float 27s linear infinite 26s,wiggle 19.8s ease-in-out infinite 0ms;
}
.particle:nth-child(100) {
  animation: float 21s linear infinite 10s,wiggle 17.4s ease-in-out infinite 0ms;
  -o-animation: float 21s linear infinite 10s,wiggle 17.4s ease-in-out infinite 0ms;
  -moz-animation: float 21s linear infinite 10s,wiggle 17.4s ease-in-out infinite 0ms;
  -webkit-animation: float 21s linear infinite 10s,wiggle 17.4s ease-in-out infinite 0ms;
}

#highlight {
  color: #c050cf;
  font-weight: bold;
}

#overlay {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

#intro {
  background-color: #1c1b1f;
  width: 100vw;
  height: 100vh;
  position: relative;
}

#tsparticles {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

#center-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

#placeholder {
  position: relative;
  height: 100px;
  width: 80%;
  margin: 10%;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #e9dce8;
}

#card {
  width: 80%;
  padding: 16px;
  margin: 10%;
  margin-top: 48px;
  margin-bottom: 48px;
  background-color: rgba(28, 27, 31, 0.1);
  border-radius: 20px;
}
#card p {
  text-align: center;
}

#nav-bar {
  position: absolute;
  top: 100vh;
  display: flex;
  width: 100%;
  padding: 4px;
  padding-left: 10%;
  background-color: #141316;
  z-index: 1;
}

.nav-link {
  padding: 4px;
  padding-left: 6px;
  color: #756277;
  font: 20px Helvetica;
  margin: 4px;
  margin-left: 12px;
  margin-right: 12px;
  border: 2px solid transparent;
  border-radius: 3px;
  transition: color 500ms, border 500ms;
}
.nav-link:hover {
  color: #c050cf;
  border: 2px solid #756277;
}

#about {
  margin-top: 64px;
  padding-top: 32px;
}

#container {
  display: inline-block;
  text-align: center;
}
#container a {
  padding: 2px;
  margin: 8px;
  font-size: 24px;
  border-radius: 3px;
}

#project {
  width: 300px;
  height: 300px;
  margin: 24px;
  position: relative;
  display: flex;
  align-items: stretch;
}
#project img {
  border-radius: 10px;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
#project #wrapper {
  z-index: 1;
  margin: 8px;
  padding: 4px;
  width: auto;
  height: auto;
  background-color: transparent;
  border-radius: 10px;
  transition: background 500ms;
  overflow: hidden;
  border: none;
}
#project #wrapper p {
  font-size: 16px;
  transition: color 500ms;
  color: transparent;
}
#project #wrapper:hover {
  background-color: rgba(247, 235, 236, 0.9);
}
#project #wrapper:hover p {
  color: #756277;
}

/*# sourceMappingURL=globals.css.map */
